<section>
  <header>
    <h2 *ngIf="!title">Confirmation</h2>
    <h2 *ngIf="title" [innerHTML]="title"></h2>
  </header>

  <form (ngSubmit)="submit()">

    <main>
      <p *ngIf="message" [innerHTML]="message"></p>
      <app-form-control-input [control]="control" [type]="type" [label]="label"></app-form-control-input>
    </main>

    <footer>
      <button mat-button (click)="dialogRef.close(false)" type="button">Cancel</button>
      <button mat-button color="primary" type="submit">Confirm</button>
    </footer>

  </form>
</section>
