.main-container {
  margin: 20px;
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

/deep/ .mat-toolbar-single-row {
  justify-content: space-between;
}

.dam-sidepanel {
  width: 25%;
  border-left: 1.1px solid #d3d3d3 !important;
  /deep/ .mat-tab-labels {
    display: flex;
    justify-content: center;
  }
}
