<h2 align="center" *ngIf="dam">{{dam.dam_info.name}}</h2>
<mat-tab-group *ngIf="dam">
  <mat-tab label="Active Dialog Agents">
    <div class="dam-panel">
      <div class="full-data">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <div class="left">IP</div>
        <div class="right">{{dam.dam_info.ip}}</div>
      </div>
      <div class="full-data">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <div class="left">Port</div>
        <div class="right">{{dam.dam_info.port}}</div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
