<app-tools [actions]=actions>
  <app-form-control-input app-tools-left class="inline" [control]="filterKeyword" label="Search.."
                          type="text">
  </app-form-control-input>
  <div app-tools-right>
    <button mat-button color="primary" class="mat-button" (click)="togglePanel()">
      {{panelToggleText}}
    </button>
  </div>
</app-tools>

<h2 *ngIf="page_title">{{page_title}}</h2>
<p *ngIf="page_description">{{page_description}}</p>

<mat-sidenav-container>
  <div class="main-container">
    <!--<app-table #tableComponent [header]="table.header" [rows]="table.rows" filter="search">-->
    <!--</app-table>-->

    <app-mat-table #tableComponent [rows]="rows" [headers]="header"
                    [dataSource]="dataSource" (outputCheckedRow)="whenCheckChanged($event)">

    </app-mat-table>
  </div>
  <mat-sidenav class="dam-sidepanel" #sidenav align="end" mode="side" opened="false">
    <app-dam-panel #infoPanel></app-dam-panel>
  </mat-sidenav>
</mat-sidenav-container>
