.dam-panel {
  margin-top: 20px;
  .full-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px;
    position: relative;
    mat-icon {
      min-width: 24px;
      color: #d3d3d3;
    }
    .left {
      color: rgba(0, 0, 0, .54);
      float: left;
      width: 166px;
    }
    .right {
      float: left;
      width: 258px;
    }
  }
}
