<app-tools *ngIf="dam" [actions]=actions [name]="dam.name" [goBack]="backPage"
           [showMoreVert]=false></app-tools>
<!--Content start-->

<mat-sidenav-container>
  <div class="dam-detail">
    <mat-card class="mat-card-style">
      <div class="box-size">
        <mat-card-title class="title">Basic information</mat-card-title>
        <div class="infoContent">
          <div class="content-data">
            <mat-card-content class="left">IP</mat-card-content>
            <mat-card-content class="right">{{dam.ip}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Port</mat-card-content>
            <mat-card-content class="right">{{dam.port}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Description</mat-card-content>
            <mat-card-content class="right">{{dam.description || '-'}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">
              <span class="active">Active:</span>
            </mat-card-content>
            <mat-card-content class="right">
              <mat-icon [ngClass]="getIcon()" [innerHTML]="getIcon()"></mat-icon>
            </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card>
    <!--Content end-->
    <div class="dam-table-detail">
      <mat-card class="mat-card-style-table">
        <div class="box-size">
          <mat-card-title class="title">Dialog Agents & DA Instances</mat-card-title>
          <app-dialog-agent-manager-detail-table #damDetailTable [header]="table.header"
                                                 [rows]="table.rows">
          </app-dialog-agent-manager-detail-table>
        </div>
      </mat-card>
    </div>
  </div>
</mat-sidenav-container>
