<section class="error">
  <header class="header">
    <h2 *ngIf="title" [innerHTML]="title"></h2>
  </header>
  <form (ngSubmit)="dialogRef.close(true)">
    <main>
      <p *ngIf="message" [innerHTML]="message"></p>
    </main>
    <footer>
      <button mat-button (click)="dialogRef.close(false)" type="button">Confirm</button>
    </footer>
  </form>
</section>
