<section>
  <header>
    <h2>Commit</h2>
  </header>

  <form [formGroup]="model" (ngSubmit)="submit()">
    <main>
      <app-form-control-section label="Title">
        <app-form-control-input [group]="model" name="title" type="text" label="Title"></app-form-control-input>
      </app-form-control-section>
      <app-form-control-section label="Message">
        <app-form-control-input [group]="model" name="message" type="textarea" label="Message"></app-form-control-input>
      </app-form-control-section>
    </main>

    <footer>
      <button mat-button (click)="dialogRef.close(false)" type="button">Cancel</button>
      <button mat-button color="primary" type="submit">Commit</button>
    </footer>
  </form>
</section>
