app-form-control-section {
  margin: 0 0 28px 0;
  display: block;

  .label {
    cursor: default;
  }

  > div:not(.label) {
    margin: 12px 0 6px 0;
    font-size: 12px;
    color: rgba(0,0,0,0.87);

    a {
      color: #3367d6;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .tooltip-icon {
    margin-left: 3px;
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url(/assets/img/tooltip.png) no-repeat 0px 0px;
    background-size: 13px 13px;
    cursor: help;
  }
}