<div fxLayout="column">
  <!-- 최상단 대표명 -->
  <app-tools [name]="'Session'" [showMoreVert]=false></app-tools>

  <div fxLayout="column">
    <!-- 통계 추출을 위한 버튼 정의 -->
    <div class="filter-box" fxFlex="10" fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <!-- 시작일 -->
        <mat-form-field class="search-input">
          <input matInput
                 [matDatepicker]="startPicker"
                 placeholder="Start Date"
                 [max]="requestParam.endAt.value"
                 [(formControl)]="requestParam.startAt"
                 (dateChange)="changeDateEvent($event)">
          <mat-datepicker-toggle
            matSuffix [for]="startPicker">
          </mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <!-- 종료일 -->
        <mat-form-field class="search-input">
          <input matInput
                 [matDatepicker]="endPicker"
                 placeholder="End Date"
                 [min]="requestParam.startAt.value"
                 [formControl]="requestParam.endAt"
                 (dateChange)="changeDateEvent($event)">
          <mat-datepicker-toggle
            matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="80"></div>
      <!-- 다운로드 버튼 -->
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button class="filter-button" color="primary"
                [disabled]="activeDownload"
                (click)="onDownload()">
          <mat-icon>file_download</mat-icon>
          <span>일자 별 누적 세션 수</span>
        </button>
      </div>
    </div>

    <!-- 탭 정의 시작-->
    <div class="content" fxFlex="90">
      <mat-tab-group (selectedTabChange)="onTabClick($event)">
        <mat-tab label="Session Series & Table">
          <div fxLayout="row">
            <!-- 차트 시작 -->
            <div class="stat">
              <canvas baseChart width="4" height="2"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
              </canvas>
            </div>
            <!-- 테이블 시작 -->
            <!-- 시간 별 동시 세션 테이블 -->
            <div class="timetable">
              <app-table #tableComponent [header]="table.header" [rows]="table.rows">
              </app-table>
            </div>
            <!-- 일자 별 누적 세션 테이블 -->
            <div class="timetable">
              <app-table #tableComponent [header]="dailytable.header" [rows]="dailytable.rows">
              </app-table>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
