.filter-box {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  margin: 0 50px 0 20px;
}

.search-input {
  font-size: 15px;
  padding-top: 20px;
  margin-right: 50px;
  width: 100px;
}

.filter-button {
  margin: 0 5px 0 5px;
}

.stat {
  width: 550px;
  height: 250px;
  margin-top: 5%;
  margin-left: 3%;
}

.table {
  margin-left: 5%;
}

.timetable {
  margin-left: 5%;
}
