<section class="alert">
  <header class="header">
    <h2 *ngIf="!title">Confirmation</h2>
    <h2 *ngIf="title" [innerHTML]="title"></h2>
  </header>
  <form (ngSubmit)="dialogRef.close(true)">
    <main>
      <p *ngIf="!message">Do you want to continue?</p>
      <p *ngIf="message" [innerHTML]="message"></p>
    </main>
    <footer>
      <button mat-button (click)="dialogRef.close(false)" type="button">Cancel</button>
      <button mat-button color="primary" type="submit">Confirm</button>
    </footer>
  </form>
</section>
