<div style="display:inline">
  <input type="file" [accept]="accept" #fileSelector mat-button ng2FileSelect [uploader]="uploader" multiple [hidden]="true">
  <button [disabled]="this.uploader.isUploading" mat-button color="accent" type="button" (click)="fileSelector.click()">
    <mat-icon>file_upload</mat-icon>
    <span [hidden]="this.uploader.isUploading">Upload a File</span>
    <span [hidden]="!this.uploader.isUploading">Uploading...</span>
  </button>
</div>
