<div>
  <!-- ng2FileDrop [ngClass]="{'dropable': hasDropZoneOver}" (fileOver)="fileOverDropZone($event)" [uploader]="uploader" -->
  <div class="tools">
    <input type="file" [accept]="accept" #fileSelector mat-button ng2FileSelect [uploader]="uploader" multiple [hidden]="true">
    <button mat-raised-button type="button" color="accent" (click)="fileSelector.click()">Select Files</button>
    <button mat-raised-button type="button" (click)="uploader.clearQueue()" [hidden]="!uploader.queue.length">Clear All</button>
  </div>
  <div>
    <app-table #tableComponent [header]="table.header" [rows]="uploader.queue" [paginationOff]="true" [hidden]="!uploader.queue.length"></app-table>
    <ng-template let-row="row" #statusTemplate>
      <span *ngIf="row.isUploading">{{row.progress}}%</span>
      <span *ngIf="row.isSuccess" class="complete">Complete</span>
      <span *ngIf="row.isError" class="error">{{row.error.message}}</span>
    </ng-template>
    <ng-template let-row="row" #actionTemplate>
      <button mat-button type="button" (click)="row.upload()" *ngIf="row.isError">Retry</button>
    </ng-template>
  </div>
</div>
