.m2u-table {
  overflow-y: auto;
}

.m2u-table .mat-row {
  min-height: 35px !important;
  height: 100% !important;
}

.m2u-table .id-cursor {
  cursor: pointer;
  color: #3367d6;
  font-weight: 600;
}

.m2u-table .check_circle {
  color: #43f436;
  padding-left: 15px;
}

.m2u-table .block {
  color: #a0a0a0;
  padding-left: 15px;
}
