<mat-table class="m2u-table" [dataSource]="dataSource" matSort>
  <ng-container *ngFor="let col of headers;">
    <ng-container [matColumnDef]="col.attr">
      <ng-container>

        <div *ngIf="col.checkbox">
          <mat-header-cell *matHeaderCellDef fxFlex="3%">
            <mat-checkbox [(ngModel)]="isCheckedAll" (change)="onClickCheckAll()"></mat-checkbox>
            <div [style.height]="'1px'"></div>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="3%">
            <mat-checkbox [(ngModel)]="row.isChecked" (change)="isChecked()"></mat-checkbox>
            <div [style.height]="'1px'"></div>
          </mat-cell>
        </div>

        <div *ngIf="col.no">
          <mat-header-cell *matHeaderCellDef fxFlex="5%" mat-sort-header>No.</mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="5%">{{getAttr(row, col.attr)}}</mat-cell>
        </div>

        <ng-container
          *ngIf="(!col.checkbox) && (!col.isButton) && (!col.input) && (!col.template) && (!col.no)">
          <ng-container *ngIf="col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''" mat-sort-header>
              {{col.name}}
            </mat-header-cell>
          </ng-container>
          <ng-container *ngIf="!col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''">{{col.name}}
            </mat-header-cell>
          </ng-container>

          <mat-cell *matCellDef="let row" [fxFlex]="col.width || ''">
            <ng-container *ngIf="!col.onlyImage">
              <ng-container *ngIf="col.format === 'date'">{{getAttr(row, col.attr) |
                date:'yyyy-MM-dd hh:mm'}}
              </ng-container>
              <ng-container *ngIf="col.format === 'file'">{{getAttr(row, col.attr) | fileSize}}
              </ng-container>
              <ng-container *ngIf="col.format === 'time'">{{getAttr(row, col.attr) | secondsToTime}}
              </ng-container>
              <ng-container *ngIf="col.format === undefined && !col.asIcon"><span
                style="white-space: pre-line" [innerHTML]="getAttr(row, col.attr)"
                [ngClass]="getClass(row, col)" (click)="onClick(row, col)"></span></ng-container>
              <ng-container *ngIf="col.asIcon">
                <mat-icon [innerHTML]="getColIcon(row, col)"
                          [ngClass]="getClass(row, col)" (click)="onClick(row, col)"></mat-icon>
              </ng-container>
              <img *ngIf="col.withImage" [src]="getImage(row, col)">
            </ng-container>
            <ng-container *ngIf="col.onlyImage"><img [src]="getImage(row, col)"></ng-container>
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="col.isButton">
          <ng-container *ngIf="col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''" mat-sort-header>
              {{col.name}}
            </mat-header-cell>
          </ng-container>
          <ng-container *ngIf="!col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''">{{col.name}}
            </mat-header-cell>
          </ng-container>
          <mat-cell *matCellDef="let row" [fxFlex]="col.width || ''">
            <button mat-button (click)="colClick(row)">
              <span *ngIf="row.buttonName === undefined"
                    [ngClass]="getButtonClass(col.buttonColor)">{{col.buttonName}}</span>
              <span *ngIf="row.buttonName !== undefined"
                    [ngClass]="getButtonClass(row.buttonColor)">{{row.buttonName}}</span>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="col.input">
          <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''">{{col.name}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [fxFlex]="col.width || ''">
            <input class="m2u-input" [value]="getAttr(row, col.attr)"
                   (change)="changeInput($event, row, col.attr)">
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="col.template">
          <ng-container *ngIf="col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''" mat-sort-header>
              {{col.name}}
            </mat-header-cell>
          </ng-container>
          <ng-container *ngIf="!col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''">{{col.name}}
            </mat-header-cell>
          </ng-container>
          <mat-cell *matCellDef="let row" [fxFlex]="col.width || ''">
            <ng-template [ngTemplateOutlet]="col.template"
                         [ngTemplateOutletContext]="{row: row}"></ng-template>
          </mat-cell>
        </ng-container>

      </ng-container>
    </ng-container>
  </ng-container>

  <mat-header-row *matHeaderRowDef="getColumn(headers)"></mat-header-row>
  <mat-row *matRowDef="let row ; columns: getColumn(headers)" (click)="rowClick(row)">
  </mat-row>
</mat-table>

<mat-paginator *ngIf="isShowPaginator" #paginator
               [pageSize]="25"
               [pageSizeOptions]="[5, 10, 25, 100]"
               [showFirstLastButtons]="true">
</mat-paginator>
