<ng-container *ngIf="engineInfo">
  <h2 align="center">{{engineInfo.name}}</h2>
</ng-container>

<mat-tab-group *ngIf="engineInfo">
  <mat-tab label="Categories">
    <div class="engine-panel">
      <div class="full-data">
        <mat-icon class="panel-icon">keyboard_arrow_right</mat-icon>
        <div class="left">Count</div>
        <div class="right">{{engineInfo.categories.length}}</div>
      </div>
      <ng-container *ngIf="engineInfo.categories.length !== 0">
        <div class="full-data">
          <mat-icon class="panel-icon">keyboard_arrow_right</mat-icon>
          <div class="left">Entry</div>
        </div>
        <div class="full-data" *ngIf="engineInfo.categories.length !== 0">
          <div class="category-list-icon">&#x25b6;</div>
          <div class="left-categories head-category">Display Name</div>
          <div class="right-categories head-category">Keyword</div>
        </div>
        <div class="full-data" *ngFor="let category of engineInfo.categories; let i = index;">
          <div class="category-list-icon">&#x25b6;</div>
          <div class="left-categories">{{category.displayName}}</div>
          <div class="right-categories">{{category.keyword}}</div>
        </div>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="Bookmark List">
    <div class="engine-panel">
      <div class="full-data">
        <mat-icon class="panel-icon">keyboard_arrow_right</mat-icon>
        <div class="left">Count</div>
        <div class="right">{{engineInfo.bookmarkList.length}}</div>
      </div>
      <ng-container *ngIf="engineInfo.bookmarkList.length !== 0">
        <div class="full-data">
          <mat-icon class="panel-icon">keyboard_arrow_right</mat-icon>
          <div class="left">Entry</div>
        </div>
        <div class="full-data" *ngFor="let bookmark of engineInfo.bookmarkList; let i = index;">
          <div class="bookmark-list-icon">&#x25b6;</div>
          <div class="left-bookmarks">{{bookmark}}</div>
        </div>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
