<mat-toolbar class="mat-toolbar">
  <button mat-button (click)="backPage()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="dialogTitle">{{dialogTitle}}</h1>
</mat-toolbar>
<mat-divider></mat-divider>

<div class="engine-upsert-content">
    <div class="engine-upsert-content-left">
      <mat-list class="mat-list">

        <!--Name-->
        <mat-list-item class="mat-list-item-name">
          <mat-form-field>
            <input *ngIf="role!=='edit'" class="input-size" matInput required name="name"
                   [(ngModel)]=engine.name [placeholder]="'Name'"
                   [formControl]="nameFormControl" autocomplete="off"
                   [errorStateMatcher]="formErrorStateMatcher" (change)="check()">
            <input *ngIf="role==='edit'" class="input-size" matInput name="name"
                   [(ngModel)]=engine.name [placeholder]="'Name'" [disabled]="true">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('duplicated')">
              Name is <strong>duplicated</strong>
            </mat-error>
          </mat-form-field>
        </mat-list-item>

        <!-- Category - Keyword -->
        <mat-list-item class="mat-list-item-category-input">
          <mat-form-field>
            <input class="category-input-size" matInput name="engine" [placeholder]="'Input Category - Keyword'"
                   [(ngModel)]="newKeyword"
                   (keydown)="inputAddCategory($event)" (change)="check()">
          </mat-form-field>
        </mat-list-item>

        <!-- Category - Display Name -->
        <mat-list-item>
          <mat-form-field class="displayName-add-input">
            <input class="displayName-input-size" matInput [placeholder]="'Input Category - DisplayName'"
                   [(ngModel)]="newDisplayName"
                   (keydown)="inputAddDisplayName($event)" (change)="check()">
          </mat-form-field>
          <mat-icon class="add-icon" (click)="addCategory()">add_circle_outline</mat-icon>
        </mat-list-item>

        <!-- Category - Container -->
        <mat-list-item class="mat-list-item-category">
          <mat-list>
            <ng-container *ngIf="engine.categories.length === 0">
              <div class="category-zero">Not Define Category.<br>
                Add Category.
              </div>
            </ng-container>
            <ng-container *ngIf="engine.categories.length !== 0">
              <ng-container *ngFor="let category of engine.categories; let i = index">
                <mat-list-item class="category-cursor" id="engine.category{{i}}" [ngClass]="category===selectedCategory?'selected':''"
                               (click)="selectedCategory = category">
                  <div class="category-left">
                    {{category.displayName}}
                  </div>
                  <div class="category-right">
                    {{category.keyword}}
                  </div>
                  <mat-icon class="category-delete-icon" (click)="deleteCategory(i)">delete</mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
            </ng-container>
          </mat-list>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="engine-upsert-content-right">
      <mat-list class="mat-list">

        <!-- Bookmark List -->
        <mat-list-item class="mat-list-item-bookmark-input">
          <mat-form-field>
            <input matInput class="bookmark-input-size" [placeholder]="'Bookmark'"
                   value={{bookmarkOptions.value}} (change)="check()" readonly>
          </mat-form-field>
          <mat-icon class="add-icon" (click)="addBookmark()">add_circle_outline</mat-icon>
        </mat-list-item>

        <!-- Select Bookmark -->
        <mat-list-item>
          <mat-form-field>
            <mat-select placeholder="select Categories" [formControl]="bookmarkOptions" multiple>
              <mat-select-trigger>
                {{bookmarkOptions.value ? bookmarkOptions.value[0] : ''}}
                <span *ngIf="bookmarkOptions.value?.length > 1" class="category-additional-selection">
        (+{{bookmarkOptions.value.length - 1}} others)</span>
              </mat-select-trigger>
              <mat-option *ngFor="let category of engine.categories" [value]="category.displayName">{{category.displayName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <!-- Bookmark Container -->
        <mat-list-item class="mat-list-item-bookmark">
          <mat-list>
            <ng-container *ngIf="engine.bookmarkList.length === 0">
              <div class="bookmark-zero">Not Define Bookmark.<br>
                Add Bookmark.
              </div>
            </ng-container>
            <ng-container *ngIf="engine.bookmarkList.length !== 0">
              <ng-container *ngFor="let bookmark of engine.bookmarkList; let i = index">
                <mat-list-item class="bookmark-cursor" id="bookmark{{i}}" [ngClass]="bookmark === selectedBookmark?'selected':''"
                               (click)="selectedBookmark = bookmark">
                  <div class="bookmark-left">
                    {{bookmark}}
                  </div>
                  <div class="bookmark-right">
                    <!-- 여기 북마크의 카테고리 수 -->
                  </div>
                  <mat-icon class="bookmark-delete-icon" (click)="deleteBookmark(i)">delete</mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
            </ng-container>
          </mat-list>
        </mat-list-item>
      </mat-list>
    </div>

  <!-- Submit -->
  <div class="engine-upsert-content-bottom">
    <mat-list>
      <mat-list-item>
        <p class="submit-button">
          <button mat-raised-button [color]="'primary'" (click)="submit()"
                  [innerHTML]="getButtonName()" [disabled]="submitButton"></button>
        </p>
        <p class="cancel-button">
          <button mat-raised-button type="button" [routerLink]="'../engine-configuration'">Cancel</button>
        </p>
      </mat-list-item>
    </mat-list>

  </div>
</div>
