<app-tools [name]="'Profile'" [showMoreVert]=false></app-tools>
<div *ngIf="user" class="profile-detail">
  <mat-card class="mat-card-style">
    <div class="box-size">
      <div class="title">Your Account Information</div>
      <div class="content-data">
        <div class="left">Name</div>
        <div class="right">{{user.username}}</div>
      </div>
      <div class="content-data">
        <div class="left">Email</div>
        <div class="right">{{user.email}}</div>
      </div>
    </div>
  </mat-card>

  <mat-card class="mat-card-style">
    <div class="box-size">
      <div class="title">Change Password</div>
      <div class="password-input">
        <mat-form-field class="input-size">
          <input matInput required name="currentPassword" type="password"
                 [(ngModel)]="currentPassword" [placeholder]="'Current Password'"
                 [errorStateMatcher]="formErrorStateMatcher"
                 [formControl]="currentPasswordFormControl"
                 (keyup)="checkValid($event.target.name)">
          <mat-error *ngIf="currentPasswordMsg !== null">
            {{currentPasswordMsg}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="password-input">
        <mat-form-field class="input-size">
          <input matInput required name="newPassword" type="password"
                 [(ngModel)]="newPassword" [placeholder]="'New Password'"
                 [errorStateMatcher]="formErrorStateMatcher"
                 [formControl]="newPasswordFormControl"
                 (keyup)="checkValid($event.target.name)">
          <mat-error *ngIf="newPasswordMsg !== null">
            {{newPasswordMsg}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="password-input">
        <mat-form-field class="input-size">
          <input matInput required name="confirmPassword" type="password"
                 [(ngModel)]="confirmPassword" [placeholder]="'Confirm Password'"
                 [errorStateMatcher]="formErrorStateMatcher"
                 [formControl]="confirmPasswordFormControl"
                 (keyup)="checkValid($event.target.name)">
          <mat-error *ngIf="confirmPasswordMsg !== null">
            {{confirmPasswordMsg}}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button class="change-button" mat-raised-button
                [disabled]="!changeButtonFlag" [color]="!changeButtonFlag ? '' : 'accent'"
                (click)="changePassword()">Change
        </button>
      </div>
    </div>
  </mat-card>
</div>

