.profile-detail {
  overflow-y: auto;
  .mat-card-style {
    width: 480px;
    margin-top: 15px;
  }
  margin-left: 40px;
  margin-top: 20px;
  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 17px;
    background-color: #f3f3f3;
  }
  .content-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    padding: 0 16px;
    position: relative;
    .left {
      color: rgba(0, 0, 0, .54);
      float: left;
      padding-right: 60px;
      width: 70px;
    }
    .right {
      float: left;
      width: 250px;
    }
  }
  .password-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    margin: 35px 0 25px 0;
    padding: 0 16px;
    position: relative;
  }
  .input-size {
    width: 350px;
  }
  .box-size {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 2px;
    border-left: 1px solid #d3d3d3;
  }
  .change-button {
    width: 135px;
    margin: 5px 0 5px 15px;
  }
}

