<mat-toolbar class="mat-toolbar">
  <button mat-button (click)="backPage()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="dialogTitle">{{dialogTitle}}</h1>
</mat-toolbar>

<mat-divider></mat-divider>

<mat-sidenav-container>
  <div class="itfi-upsert">
    <form [formGroup]="itfiUpsertForm">
      <div class="itfi-left">
        <mat-list>
          <!--name-->
          <mat-list-item class="mat-list-item">
            <mat-form-field>
              <input *ngIf="role!=='edit'" class="input-size" matInput required
                     formControlName="name" [placeholder]="'Name'"
                     (keyup)="check($event.target.value, 'name')">
              <input *ngIf="role==='edit'" class="input-size" matInput
                     formControlName="name" [placeholder]="'Name'" [readonly]="true">
              <mat-error *ngIf="itfiUpsertForm.controls['name'].getError('required')">
                Name is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="itfiUpsertForm.controls['name'].getError('duplicated')">
                Name is <strong>duplicated</strong>
              </mat-error>
              <mat-error *ngIf="itfiUpsertForm.controls['name'].getError('pattern')">
                Name must be in <strong>English or numeric</strong>
              </mat-error>
            </mat-form-field>
          </mat-list-item>

          <!--ip-->
          <mat-list-item class="mat-list-item">
            <mat-form-field>
              <input class="input-size" matInput required name="ip" id="ip"
                     formControlName="ip" [placeholder]="'IP'" (keyup)="check($event.target.value, 'ip')">
              <mat-error *ngIf="itfiUpsertForm.controls['ip'].getError('required')">
                IP is <strong>required.</strong>
              </mat-error>
              <mat-error *ngIf="itfiUpsertForm.controls['ip'].getError('pattern')">
                Please enter a valid IP.
              </mat-error>
            </mat-form-field>
          </mat-list-item>

          <!--port-->
          <mat-list-item class="mat-list-item">
            <mat-form-field>
              <input class="input-size" matInput required
                     name="port" id="port"
                     formControlName="port" [placeholder]="'Port'"
                     (keyup)="check($event.target.value, 'port')">
              <mat-error *ngIf="itfiUpsertForm.controls['port'].getError('required')">
                Port is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="itfiUpsertForm.controls['port'].getError('duplicated')">
                Port is <strong>duplicated</strong>
              </mat-error>
              <mat-error *ngIf="itfiUpsertForm.controls['port'].getError('pattern')">
                Please enter a valid Port
              </mat-error>
            </mat-form-field>
          </mat-list-item>

          <!-- policy name -->
          <mat-list-item class="mat-list-item">
            <mat-form-field>
              <input class="input-size" matInput required
                     name="policyName" id="policyName"
                     formControlName="policy_name" [placeholder]="'Policy Name'" [readonly]="true">
            </mat-form-field>
          </mat-list-item>

          <!-- export ip -->
          <mat-list-item class="mat-list-item">
            <mat-form-field>
              <input class="input-size" matInput name="exportIp" id="exportIp" formControlName="export_ip"
                     [placeholder]="'Export Ip'" (keyup)="check($event.target.value, 'export_ip')">
              <mat-error *ngIf="itfiUpsertForm.controls['export_ip'].getError('pattern')">
                Please enter a valid Export Ip.
              </mat-error>
            </mat-form-field>
          </mat-list-item>

        <!--description-->
          <mat-list-item class="mat-list-item">
            <mat-form-field mat-no-float>
            <textarea
              class="input-size-description"
              matInput
              name="description"
              formControlName="description"
              [placeholder]="'Description'" rows="10"></textarea>
            </mat-form-field>
          </mat-list-item>
        </mat-list>

        <div class="itfi-upsert-button">
          <button mat-raised-button [color]="'primary'" [innerHTML]="getButtonName()"
                  (click)="submit()"
                  [disabled]="!canSubmit"></button>
          <button class="cancel-button" mat-raised-button type="button" [routerLink]="'../itfi'">
            CANCEL
          </button>
        </div>
      </div>

      <div class="itfi-right">
        <h4>Policy Name List </h4>
        <mat-radio-group class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let policy of policyList"
                            [checked]="policy.name === policyName" [value]="policy.name"
                            (click)="checkRadio(policy.name)">{{policy.name}}</mat-radio-button>
        </mat-radio-group>
      </div>

    </form>
  </div>
</mat-sidenav-container>

