<app-tools [actions]=actions>
  <app-form-control-input app-tools-left class="inline" [control]="filterKeyword" label="Search.."
                          type="text">
  </app-form-control-input>
  <div app-tools-right>
    <button mat-button color="primary" class="mat-button" (click)="togglePanel()">
      {{panelToggleText}}
    </button>
  </div>
</app-tools>

<mat-sidenav-container>
  <div class="main-container">
    <app-mat-table #tableComponent [rows]="rows" [headers]="header"
                   [dataSource]="dataSource" (outputCheckedRow)="whenCheckChanged($event)">
    </app-mat-table>
  </div>
  <mat-sidenav class="itfi-sidepanel" #sidenav align="end" mode="side" opened="false">
    <app-intent-finder-instance-panel #infoPanel></app-intent-finder-instance-panel>
  </mat-sidenav>
</mat-sidenav-container>
