.info {
  box-shadow: none !important;
  padding: 24px 24px 12px 24px;
}

.itfi-detail {
  .mat-card-style {
    width: 700px;
    margin-top: 15px;
  }
  margin-left: 40px;
  margin-top: 20px;
  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 17px;
    background-color: #f3f3f3;
  }
  .content-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    padding: 0 16px;
    position: relative;
    .left {
      color: rgba(0, 0, 0, .54);
      float: left;
      padding-right: 60px;
      width: 166px;
    }
    .right {
      float: left;
      width: 258px;
      .navigate{
        cursor: pointer;
        color: #3367d6;
        font-weight: 600;
      }
    }
  }

  .box-size {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 2px;
    border-left: 1px solid #d3d3d3;
  }
}
