<mat-toolbar class="tools">
  <div class="title" style="display: flex">
    <button *ngIf="goBack" mat-button class="go-back" (click)="doGoBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 class="title" fxFlex="none">{{name}}</h2>
  </div>
  <div class="section" fxFlex="none" style="display: flex">
    <ng-content select="[app-tools-left]"></ng-content>
  </div>
  <div class="section" fxFlex="none" style="display: flex">
    <button mat-button *ngFor="let action of actionsArray" [hidden]="action.hidden" [disabled]="action.disabled"
            (click)="doAction(action.type)">
      <mat-icon>{{action.icon}}</mat-icon>
      <span>{{action.text}}</span>
    </button>
  </div>
  <div class="section-right" fxFlex="none" style="display: flex">
    <mat-icon *ngIf="showMoreVert" class="more">more_vert</mat-icon>
    <ng-content select="[app-tools-right]"></ng-content>
  </div>
</mat-toolbar>
