.tools {
  background-color: #FFFFFF;
  border-bottom: 1.1px solid #d3d3d3;
  height: 65px;
  justify-content: space-between;

  button {
    padding: 0 10px;
    margin: 0 0;
    letter-spacing: .01em;
    font-weight: 400;
    font-size: 15px;
  }

  button:not(:disabled) {
    color: rgb(59, 120, 231);
  }

  button.go-back {
    color: rgba(0, 0, 0, 0.87);
  }

  h2.title {
    font-weight: 400;
    letter-spacing: .005em;
    font-size: 18px;
    line-height: 20px;
    margin: auto;
  }

  div.section {
    margin: 0 0 0 32px;
    flex: none !important;
  }

  div.section-right {
    width: 160px;
    margin: 0 0 0 32px;
  }

  div.section-right .more {
    color: darkgray;
    float: left;
    margin: 6px 12px 0 0;
  }
}
