<mat-form-field>
  <input matInput class="ng2-tag-input-field"
         [placeholder]="placeholder"
         [(ngModel)]="inputValue"
         (paste)="inputPaste($event)"
         (keydown)="inputChanged($event)"
         (blur)="inputBlurred($event)"
         (focus)="inputFocused($event)"
         #tagInputRef>
</mat-form-field>
<br>
<div class="tag-item">
  <app-tag-input-item
    [text]="tag"
    [index]="index"
    [selected]="selectedTag === index"
    (tagRemoved)="_removeTag($event)"
    *ngFor="let tag of tagsList; let index = index">
  </app-tag-input-item>
</div>
