:host {
  display: block;
  box-shadow: none;
  padding: 5px 0;
}

:host.ng2-tag-input-focus {
  box-shadow: none;
}

.ng2-tag-input-field {
  box-shadow: none;
  border: 0;
  width: 350px;
  color: black;
}

.tag-item {
  color: white;
}
