
<!-- Sign-In Component -->
<form [formGroup]="user" (ngSubmit)="register()">

  <mat-card>
    <mat-card-content>

      <app-form-control-section
        label="Name">
        <app-form-control-input [group]="user" name="username" label="Name" type="text" [errorParams]="{length: 4}"></app-form-control-input>
      </app-form-control-section>

      <app-form-control-section
        label="Email"
        tooltip="This email should be verified after sign-up.">
        <app-form-control-input [group]="user" name="email" label="Email" type="text"></app-form-control-input>
      </app-form-control-section>

      <app-form-control-section
        label="Password"
        tooltip="Password should be 4 characters at least.">
        <app-form-control-input [group]="user" name="password" label="Password" type="password" [errorParams]="{length: 4}"></app-form-control-input>
        <app-form-control-input [group]="user" name="passwordConfirmation" label="Confirmation" type="password" [errorParams]="{matchControl:'password'}"></app-form-control-input>
      </app-form-control-section>

      <app-form-control-errors [control]="user"></app-form-control-errors>

     <!--  <app-form-control-section
        label="Agree to the Terms of Service"
        tooltip="Need to agree to the Terms of Service.">

        <div>
          I read and agree to the <a>MINDs Console Terms of Service</a>.
        </div>

        <app-form-control-input [group]="user" name="agreement" type="radio"
          [options]="[{key:'Yes', value:'yes'},{key:'No', value:'no'}]"></app-form-control-input>
      </app-form-control-section> -->

    </mat-card-content>

    <div class="rolling" [hidden]="!loading" style="height:30px"></div>
    <mat-card-actions class="gray" [hidden]="loading">
      <button mat-raised-button color="accent" type="submit">Sign-up</button>
      <button mat-raised-button color="default" type="button" [routerLink]="['..','signin']">Cancel</button>
    </mat-card-actions>
  </mat-card>

</form>

