.auth {
  background-color: #fff;
  height: 100vh;
  padding: 50px 0;
  background-image: url("/assets/img/auth-footer.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: auto 230px;
  background-attachment: fixed;

  .brand-logo {
    height: 121px;
    background: url(/assets/img/M2U.png) no-repeat center center;
    background-size: 200px auto;
    min-width: 350px;
  }
}
