<h2 align="center" *ngIf="daInfo">{{daInfo.da_info.name}}</h2>
<mat-tab-group *ngIf="daInfo" class="da-panel-tab-group">
  <mat-tab label="Properties">
    <div class="da-panel-properties">
      <div class="full-data">
        <div class="left">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <div class="title">Description</div>
        </div>
        <div class="right">{{daInfo.da_info.description|| '-'}}</div>
      </div>

      <div class="full-data">
        <div class="left">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <div class="title">Executable</div>
        </div>
        <div class="right">{{daInfo.da_info.da_executable|| ''}}</div>
      </div>

      <div class="full-data">
        <div class="left">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <div class="title">Type</div>
        </div>
        <div class="right">{{daInfo.da_info.lang|| '-'}}</div>
      </div>

      <div class="full-data">
        <div class="left">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <div class="title">Version</div>
        </div>
        <div class="right">{{daInfo.da_info.version|| '-'}}</div>
      </div>

      <div class="full-data">
        <div class="left">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <div class="title">Spec</div>
        </div>
        <div class="right">{{appEnum.dialogAgentSpec[daInfo.da_info.da_prod_spec] || '-'}}</div>
      </div>

      <div class="full-data">
        <div class="left">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <div class="title">Extra Command</div>
        </div>
        <div class="right">{{daInfo.da_info.extra_command || '-'}}</div>
      </div>

    </div>
  </mat-tab>
  <!--<mat-tab label="Deployment">-->
    <!--<mat-card>-->
      <!--<mat-card-content></mat-card-content>-->
    <!--</mat-card>-->
  <!--</mat-tab>-->
  <!--<mat-tab label="Logs">-->
    <!--<mat-card>-->
      <!--<mat-card-content></mat-card-content>-->
    <!--</mat-card>-->
  <!--</mat-tab>-->
</mat-tab-group>
