.dialog-agent-upsert {
  margin: 10px;
  padding: 15px 20px !important;
}

.dialog-agent-upsert .left-dialog-agent-side {
  float: left;
  width: 100%;
  //border-right: 1px solid #d3d3d3;
}

.dialog-agent-upsert .right-user-attributes-side {
  float: left;
  margin-top: 1px;
  margin-left: 30px;
  width: 400px;
  height: 570px;
  overflow-y: auto;
}

.right-user-attributes-side .title {
  font-size: 16px;
  font-weight: lighter;
}

.right-user-attributes-side .description {
  font-size: 13px;
  color: #b9b9b9;
}

.right-user-attributes-side .mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-primary {
  margin-top: 13px;
  background-color: #2979ff;
  color: white;
  cursor: default;
  margin-right: 7px;
}


.dialog-agent-upsert mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 270px;
  min-width: 270px;
}

.executable {
  margin-left: 15px;
  margin-top: 15px;
  width: 270px;
}

.dialog-agent-upsert .dam-list-table {
  width: 250px;
  height: 50px;
  margin-left: 20px;
}

mat-icon.disabled {
  color: #b0b0b0;
}

mat-icon:not(.disabled) {
  color: darkblue;
}

.dialog-agent-upsert h3 {
  height: 32px;
  margin: 0 0 -5px 0;
  padding: 0px 0px 0px 16px;
}

.dialog-agent-upsert h4 {
  margin: 0 0 0 0;
}

.dialog-agent-upsert h4.disabled {
  color: #b0b0b0;
}

.id-color {
  margin: 3px 0 0 0;
  color: #3b78e7;
}

.id-color.disabled {
  color: #b0b0b0;
}

.mat-list-item-name {
  padding-top: 10px;
}

.mat-list-item-description {
  margin-top: 45px;
  height: 100px;
  .mat-form-field-description {
    width: 350px;
  }
}

.mat-list-item-version {
  .mat-list-item-content {
    margin-left: 15px;
  }
}

.input-size {
  width: 270px;
}

.input-size-textarea {
  width: 500px;
  height: 70px;
}

.submit-button {
  margin-left: 20px;
  margin-top: 70px !important;
}

.cancel-button {
  margin-left: 20px;
  margin-top: 70px !important;
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}

.inputdemoErrors mat-form-field > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}
