.da-panel-tab-group {

  /deep/ .mat-tab-label {
    line-height: 48px;
    height: 48px;
    padding: 0 12px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 116px;
    text-align: center;
    position: relative;
  }

  /deep/ .mat-ink-bar {
    visibility: visible;
    left: 40px;
    width: 116px;
    position: absolute;
    bottom: 0;
    height: 2px;
    transition: .5s cubic-bezier(.35,0,.25,1);
  }

  .da-panel-properties {
    margin-top: 20px;
    .full-data {
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      height: 40px;
      padding: 0 16px;
      margin: 5px 0px;
      position: relative;
      .left {
        display: flex;
        float: left;
        mat-icon {
          min-width: 24px;
          color: #d3d3d3;
        }
        .title {
          color: rgba(0, 0, 0, .54);
          width: 154px;
        }
      }
      .right {
        float: left;
        max-width: 280px;
        margin-left: 30px;
        padding-top: 8px;
        word-break: break-all;
      }
    }
    .full-data::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
