<app-tools [name]="dialogTitle" [goBack]="backPage" [showMoreVert]=false></app-tools>

<mat-sidenav-container>
  <div class="dialog-agent-upsert">
    <div class="left-dialog-agent-side">
      <form #f="ngForm" (ngSubmit)="submit()">
        <mat-form-field class="executable">
          <mat-select required placeholder="Executable" name="executable"
                      [(ngModel)]="selectedExecutable"
                      (change)="onSelectionChanged($event)">
            <mat-option *ngFor="let executable of daExecutables" [value]="executable">
              {{executable.name}}({{executable.lang}})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-list class="mat-list">
          <!--Version-->
          <mat-list-item class="mat-list-item-version">
            <mat-form-field>
              <input [disabled]="true" matInput class="input-size" name="version"
                     [(ngModel)]="da.da_info.version" [placeholder]="'Version'">
            </mat-form-field>
          </mat-list-item>

          <!-- Spec -->
          <mat-list-item class="mat-list-item-version">
            <mat-form-field>
              <mat-select required placeholder="Spec" name="da_prod_spec"
                          [(ngModel)]="da.da_info.da_prod_spec"
                          (change)="this.check()">
                <mat-option *ngFor="let key of appEnum.dialogAgentSpecKeys" [value]="key">
                  {{appEnum.dialogAgentSpec[key]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list>
            <h3 mat-subheader>DAM List</h3>
            <table *ngFor="let dam of damList" class="dam-list-table">
              <tr>
                <td>
                  <mat-icon mat-list-icon [ngClass]="dam.disabled?'disabled':''">label</mat-icon>
                </td>
                <td>
                  <h4 [ngClass]="dam.disabled?'disabled':''">{{dam.dam_info.name}}</h4>
                  <p class="id-color" [ngClass]="dam.disabled?'disabled':''">{{dam.ip_port}}</p>
                </td>
                <td>
                  <mat-checkbox [disabled]="dam.disabled" [checked]="dam.checked"
                                (change)="dam.checked=!dam.checked">
                  </mat-checkbox>
                </td>
              </tr>
            </table>
          </mat-list>

          <!--Name-->
          <mat-list-item class="mat-list-item-name">
            <mat-form-field>
              <input *ngIf="role!=='edit'" class="input-size" matInput required name="name"
                     [(ngModel)]="da.da_info.name" [placeholder]="'Name'"
                     [formControl]="nameFormControl" autocomplete="off"
                     [errorStateMatcher]="formErrorStateMatcher" (change)="check()">
              <input *ngIf="role==='edit'" class="input-size" matInput name="name"
                     [(ngModel)]="da.da_info.name" [placeholder]="'Name'" [disabled]="true">
              <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="nameFormControl.hasError('duplicated')">
                Name is <strong>duplicated</strong>
              </mat-error>
            </mat-form-field>
          </mat-list-item>

          <!--extra_command-->
          <mat-list-item class="mat-list-item-description">
            <mat-form-field mat-no-float class="mat-form-field-description">
            <textarea class="input-size-textarea" matInput name="extra_command"
                      [(ngModel)]="da.da_info.extra_command"
                      [placeholder]="'Extra Command'"></textarea>
              <mat-hint>
                <mat-icon matSuffix>info</mat-icon>
                You can add one or more parameters separated by spaces.
                <br>
                <mat-icon matSuffix>info</mat-icon>
                First parameter specifies the running entry class for Java.
              </mat-hint>
            </mat-form-field>
          </mat-list-item>

          <!--description-->
          <mat-list-item class="mat-list-item-description">
            <mat-form-field mat-no-float class="mat-form-field-description">
            <textarea class="input-size-textarea" matInput name="description"
                      [(ngModel)]="da.da_info.description"
                      [placeholder]="'Description'"></textarea>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <p class="submit-button">
              <button mat-raised-button [color]="'primary'" [innerHTML]="getButtonName()"
                      [disabled]="submitButton"></button>
            </p>
            <p class="cancel-button">
              <button mat-raised-button type="button" (click)="backPage()">Cancel</button>
            </p>
          </mat-list-item>
        </mat-list>
      </form>
    </div>
    <!--<div class="right-user-attributes-side">-->
    <!--<a class="title">User Attributes<br></a>-->
    <!--<a class="description">You may need User Attributes to run the Dialog Agent.</a>-->
    <!--<app-dialog-agent-detail-table *ngIf="userAttrTable.rows.length>0"-->
    <!--[header]="userAttrTable.header" [rows]="userAttrTable.rows">-->
    <!--</app-dialog-agent-detail-table>-->
    <!--</div>-->
  </div>
</mat-sidenav-container>
