.main-container {
  margin: 20px;
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

/deep/ .mat-toolbar-single-row {
  justify-content: space-between;
}

.da-sidepanel {
  width: 27%;
  border-left: 1.1px solid #d3d3d3 !important;
  /deep/ .mat-tab-labels {
    display: flex;
    justify-content: center;
  }
}

.check_circle {
  color: #43f436;
  padding-left: 0px !important;
  padding-right: 10px;
}
