<div class="table">
  <table>
    <colgroup *ngIf="header.length !==0">
      <col *ngIf="checkable" width="70"/>
      <col *ngFor="let col of header; let i = index" [width]="col.width || ''"/>
    </colgroup>
    <tr *ngIf="header.length !==0">
      <th *ngIf="checkable">
        <mat-checkbox [checked]="checkedAll" (change)="checkAll($event)"></mat-checkbox>
      </th>
      <th *ngFor="let col of header; let i = index">
        <a (click)="sort(i)" *ngIf="col.sortable">
          <span [innerHTML]="col.name"></span>
          <mat-icon *ngIf="(sorter && sorter.col === col && sorter.order)">expand_more</mat-icon>
          <mat-icon *ngIf="!(sorter && sorter.col === col && sorter.order)">expand_less</mat-icon>
        </a>
        <a *ngIf="!col.sortable" [innerHTML]="col.name"></a>
      </th>
    </tr>
    <tr *ngFor="let row of filteredRows" (click)="rowClick(row)">
      <td *ngIf="checkable">
        <mat-checkbox [checked]="row.checked" (change)="check(row, $event.checked)"></mat-checkbox>
      </td>
      <td *ngFor="let col of header" [ngClass]="col.class || ''">
        <ng-container *ngIf="col.attr !== 'damState'">
          <a [innerHTML]="getAttr(row, col.attr)"></a>
        </ng-container>
        <ng-container *ngIf="col.attr === 'damState'">
          <a *ngFor="let dam of row.damState">{{dam.damName}}<a class="dam-cnt">{{dam.damCnt}}</a></a>
        </ng-container>
      </td>
    </tr>
  </table>
  <div class="rolling" [hidden]="!fetching"></div>
</div>
