<app-tools [actions]=actions [name]="title" [showMoreVert]=false [goBack]="backPage"></app-tools>

<mat-sidenav-container>
  <div class="da-detail-all">
    <mat-card class="mat-card-style">
      <div class="box-size">
        <mat-card-title class="title">Basic information</mat-card-title>
        <div class="content-data">
          <div class="left">NAME</div>
          <div class="right">{{da.name || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Description</div>
          <div class="right">{{da.description || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">DA Exeutable</div>
          <div class="right">{{da.da_executable || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Type</div>
          <div class="right">{{da.lang || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Version</div>
          <div class="right">{{da.version || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Spec</div>
          <div class="right">{{appEnum.dialogAgentSpec[da.da_prod_spec] || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Extra command</div>
          <div class="right">{{da.extra_command || '-'}}</div>
        </div>
      </div>
    </mat-card>

    <mat-card class="mat-card-style">
      <div class="box-size">
        <mat-card-title class="title">Runtime Parameters</mat-card-title>
        <app-dialog-agent-detail-table [header]="runtimeTable.header" [rows]="runtimeTable.rows">
        </app-dialog-agent-detail-table>
      </div>
    </mat-card>

    <mat-card class="mat-card-style">
      <div class="box-size">
        <mat-card-title class="title">DAM Status</mat-card-title>
        <app-dialog-agent-detail-table [header]="daDamTable.header" [rows]="daDamTable.rows">
        </app-dialog-agent-detail-table>
      </div>
    </mat-card>

    <mat-card class="mat-card-style">
      <div class="box-size">
        <mat-card-title class="title">Chatbot Status</mat-card-title>
        <app-dialog-agent-detail-table [header]="daChatbotTable.header"
                                       [rows]="daChatbotTable.rows">
        </app-dialog-agent-detail-table>
      </div>
    </mat-card>
  </div>
</mat-sidenav-container>
