/deep/ .main {
  width: 1500px;
}

.sc-upsert-content-left {
  margin: 10px;
  padding: 15px 20px !important;
  width: 325px;
  float: left;

  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 270px;
  }

  .mat-list-item-skill {
    position: relative;
    margin-top: 20px;
    height: 340px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    overflow-y: auto;
    overflow-x: hidden;
    .skill-zero {
      margin: auto;
      text-align: center;
      color: #d3d3d3;
      padding-top: 105px;
    }
    .skill-cursor {
      cursor: pointer;
      width: 280px;
    }
    .skill-cursor.selected {
      background: aliceblue;
    }
    .skill-left {
      width: 260%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .skill-right {
      width: 10%;
      color: #cccccc;
    }
    .skill-regex-icon {
      min-width: 24px;
      color: #cccccc;
      font-size: 25px;
    }
    .skill-delete-icon {
      color: #2979ff;
    }
    /deep/ .mat-list {
      position: absolute;
      top: 0px;
      margin: auto;
    }
    /deep/ .mat-list-item-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      height: 48px;
      padding: 0 16px;
      position: relative;
    }
  }
  .mat-list-item-skill-input {
    margin-top: 20px;
    .skill-input-size {
      width: 270px;
    }
    .add-skill-icon {
      color: #2979ff;
      font-size: 25px;
      cursor: pointer;
    }
  }
}

.mat-list-item-regex {
  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 450px !important;
  }
}

.sc-upsert-content-right {
  float: left;
  width: 580px;
  margin: 10px;
  padding: 15px 20px !important;

  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 270px;
  }

  /deep/ .mat-button-toggle-group {
    overflow: hidden;
    border-radius: 5px;
  }

  /deep/ .mat-button-toggle-label-content {
    user-select: none;
    display: inline-block;
    line-height: 32px;
    padding: 0 30px;
    cursor: pointer;
  }
  .mat-mini-fab {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    min-width: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0;
    flex-shrink: 0;
    .mat-primary {
      background-color: #2979ff;
      font-size: 20px;
    }
  }

  .mat-button-toggle-checked {
    color: white;
    background-color: #2979ff;
  }

  .mat-list-item-lang {
    margin-top: 5px;
  }

  .mat-list-item-regex {
    position: relative;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    /deep/ .mat-list {
      position: absolute;
      top: 0px;
      margin: auto;
    }
    margin-top: 19px;
    height: 331px;
    width: 580px;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    .regex-zero {
      color: #d3d3d3;
      font-size: 20px;
      text-align: center;
      padding-top: 104px;
    }
    .regex-input-size {
      width: 450px !important;
    }
    .regex-input-edit {
      color: #2979ff;
      float: left;
      cursor: pointer;
    }
    .regex-input-delete {
      color: #2979ff;
      float: left;
      cursor: pointer;
    }
    .regex-input-test {
      color: #2979ff;
      float: left;
      cursor: pointer;
    }
  }
  .add-regex-icon {
    color: #2979ff;
    font-size: 25px;
    cursor: pointer;
  }
  .regex-add-list-item {
    margin-top: 9px;
  }
  .mat-list-item-checkbox{
    margin-top: 20px;
    .mat-list-item-checkbox-margin {
      flex-direction: column;
      margin: 0 10px;
    }

  }
}

.option {
  margin-left: 15px;
  margin-top: 15px;
  width: 270px;
}

.mat-list-item-name {
  padding-top: 10px;
}

.mat-list-item-description {
  padding-top: 25px;
}

.input-size {
  width: 270px;
}

.input-size-description {
  width: 270px;
  height: 40px;
}

.submit-button {
  margin-left: 20px;
  margin-top: 50px !important;
}

.cancel-button {
  margin-left: 20px;
  margin-top: 50px !important;
}

.sc-upsert-nlu-tagging {
  width: 400px;
  height: 500px;
  border-left: 1px solid #d3d3d3;
  float: left;
  margin: 10px;
  padding: 0px 20px !important;

  .mat-list-item-sentence-input {
    margin-top: 20px;
    .sentence-input-form {
      width: 75%;
      .sentence-input-size {
        width: 270px !important;
      }
    }
  }
  .sc-upsert-nlu-tagging-result {
    .result-detail {
      background: #f5f5f5;
      min-height: 95px;
      overflow: auto;
      font-size: 12px;
      color: red;
    }
  }
}

::ng-deep .match-word {
  background-color: #ffea52;
  cursor: pointer;
  white-space: pre-line;
  border-radius: 1px;
}

.tooltip-inner {
  white-space: pre-line;
}
