<ng-container *ngIf="scInfo">
  <h2 align="center">{{scInfo.name}}</h2>
  <h4 align="center" class="desc">{{scInfo.description}}</h4>
</ng-container>
<mat-tab-group *ngIf="scInfo">
  <mat-tab label="Skills">
    <div class="sc-panel">
      <div class="full-data">
        <mat-icon class="panel-icon">keyboard_arrow_right</mat-icon>
        <div class="left">Lang</div>
        <div class="right">
          <img class="right-img" [src]="getImage(scInfo.lang)">
        </div>
      </div>
      <div class="full-data">
        <mat-icon class="panel-icon">keyboard_arrow_right</mat-icon>
        <div class="left">Count</div>
        <div class="right">{{scInfo.skill_list.length}}</div>
      </div>
      <ng-container *ngIf="scInfo.skill_list.length !== 0">
        <div class="full-data">
          <mat-icon class="panel-icon">keyboard_arrow_right</mat-icon>
          <div class="left">Entry</div>
        </div>
        <div class="full-data" *ngFor="let skill of scInfo.skill_list; let i = index;">
          <div class="skill-list-icon">&#x25b6;</div>
          <div class="left-skills">{{skill.name}}</div>
        </div>
      </ng-container>
    </div>
  </mat-tab>
  <!--<mat-tab label="Status">-->
    <!--<mat-list-item></mat-list-item>-->
  <!--</mat-tab>-->
</mat-tab-group>
