<app-tools [actions]=actions [name]="title" [showMoreVert]=false [goBack]="backPage"></app-tools>

<mat-sidenav-container>
  <ng-container *ngIf="sc">
    <div class="sc-detail">
      <mat-card class="mat-card-style">
        <mat-card-title class="title">Basic information</mat-card-title>
        <div class="content-data">
          <div class="left">Name</div>
          <div class="right">{{sc.name}}</div>
        </div>
        <div class="content-data">
          <div class="left">Language</div>
          <div class="right">{{appEnum.langCode[sc.lang]}}</div>
        </div>
        <div class="content-data">
          <div class="left">Description</div>
          <div class="right">{{sc.description || '-'}}</div>
        </div>
      </mat-card>

      <mat-card class="mat-card-style">
        <mat-card-title class="title">Skills</mat-card-title>
        <mat-expansion-panel *ngFor="let skill of sc.skill_list">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="content-data">
                {{skill.name}}
              </div>
            </mat-panel-title>
            <mat-panel-description class="content-desc">
              {{skill.skill_description}}
            </mat-panel-description>
            <mat-panel-description>
              {{skill.regex.length}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let regEx of skill.regex" matRipple="true">{{regEx}}
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-card>
    </div>
  </ng-container>
</mat-sidenav-container>
