// font sizes
$th-font-size: 13px;
$td-font-size: 14px;
$th-icon-size: 22px;

// use this method for contents inside <ng-content>
:host /deep/ p {
  font-size: 30px;
}

.table {
  width: 100%;
  .filter {
    margin: 0 0 10px 10px;
  }

  table {
    margin-bottom: 19px;
  }

  table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
    display: table;

    tr:not(:first-child):hover {
      background-color: rgba(0, 0, 0, 0.04);

      td.textLimit {
        white-space: inherit;
        word-break: break-all;
      }
    }

    th {
      color: rgb(0, 0, 0);
      margin: 0;
      outline: 0;
      font-size: $th-font-size;
      line-height: $th-font-size;
      padding: 10px 0px 8px 8px;
      font-weight: 400;
      letter-spacing: .02em;
      bottom: auto;
      vertical-align: middle;
      border-bottom: 1.1px solid rgba(0, 0, 0, 0.16);
      text-align: left;
    }

    td {
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-size: $td-font-size;
      padding: 10px 0px 8px 8px;
      vertical-align: middle;
      border-bottom: 1.1px solid rgba(0, 0, 0, .08);
      text-align: left;

      &.alert {
        a, a:hover {
          color: #f44336;
        }
      }
    }

    td.textLimit {
      max-width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      word-wrap: normal !important;
    }

    th, td {
      cursor: default;
      white-space: nowrap;
      mat-icon {
        width: $th-icon-size;
        height: $th-icon-size;
        font-size: $th-icon-size;
        vertical-align: -2px;
      }
      .detail-dainstance-state {
        mat-icon {
          width: $th-icon-size;
          height: $th-icon-size;
          font-size: $th-icon-size;
          vertical-align: 3px;
        }
      }
      &:first-child {
        padding-left: 24px;
      }
      &:last-child {
        padding-right: 23px;

        button {

        }
      }
      a {
        cursor: default;
      }
      a:hover {
        color: #3367d6;
        text-decoration: none;
      }
    }
    .idCursor {
      cursor: pointer !important;
      color: #3367d6;
      font-weight: 600;
    }
  }
}

.rolling {
  display: block;
  width: 100%;
  height: 50px;
}

.check_circle {
  color: #43f436;
  padding-left: 15px;
}

.block {
  color: #a0a0a0;
  padding-left: 15px;
}
