<mat-nav-list *ngFor="let nav of navs" [appAuthGuard]="nav">
  <mat-list-item mat-ripple (mousedown)="click(nav, $event)">
    <mat-icon mat-list-avatar *ngIf="!nav.children && depth!=1" [ngClass]="{empty: !nav.icon}">{{nav.icon || 'dashboard'}}</mat-icon>
    <span mat-line>{{nav.name}}</span>
    <mat-icon *ngIf="nav.children" style="color:#a3a3a3 !important;">{{nav.open ? 'expand_less' : 'expand_more'}}</mat-icon>
    <mat-icon *ngIf="!nav.children && nav.icon && depth==1">{{nav.icon}}</mat-icon>
  </mat-list-item>
</mat-nav-list>



<!--

<mat-nav-list *ngFor="let nav of navs" [appAuthGuard]="nav">
  <a mat-list-item mat-ripple [className]="(nav.active ? 'active':'') + ' ' + (nav.children ? 'hasChildren':'') + ' ' + ('depth-'+depth)" (mousedown)="click(nav, $event)">
    <mat-icon mat-list-avatar *ngIf="!nav.children && depth!=1" [ngClass]="{empty: !nav.icon}">{{nav.icon || 'dashboard'}}</mat-icon>
    <span mat-line>{{nav.name}}</span>
    <mat-icon *ngIf="nav.children">{{nav.open ? 'expand_less' : 'expand_more'}}</mat-icon>
    <mat-icon *ngIf="!nav.children && nav.icon && depth==1">{{nav.icon}}</mat-icon>
  </a>
  <div *ngIf="nav.children" [hidden]="!nav.open">
    <app-sidebar [depth]="depth+1" [navs]="nav.children"></app-sidebar>
  </div>
</mat-nav-list>
-->
