<div class="root" fxLayout="row" (paste)="clipboardService.emit($event)">

  <!-- for Other Components -->
  <div class="layout" fxFlex>

    <!-- notification -->
    <div class="notification" [hidden]="notifications.length == 0">
      <div *ngIf="notifications[0]">
        <span class="message">{{notifications[0].message}}</span>
        <span class="createdAt">{{notifications[0].createdAt | date:'medium'}}</span>
        <a class="confirm" (mousedown)="confirmNoti(notifications[0].id)">close</a>
      </div>
    </div>

    <!-- body -->
    <mat-sidenav-container>

      <!-- side navi -->
      <mat-sidenav class="sidenav" #sideNav mode="over" [hidden]="hasNoLayout || navs.length == 0">
        <mat-list class="brand-side" (mousedown)="goto(null, $event)">
          <mat-list-item>
            <img mat-list-avatar src="/assets/img/maum_favicon/favicon64.ico">
            <span mat-line class="brand-title-side">M2U</span>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <mat-nav-list>
          <mat-list-item mat-ripple *ngFor="let nav of navs" (mousedown)="goto(nav.realpaths, $event)"
                         [appAuthGuard]="nav" [ngClass]="nav.active ? 'active' : ''">
            <mat-icon mat-list-avatar>{{nav.icon}}</mat-icon>
            <span mat-line>{{nav.name}}</span>
          </mat-list-item>
        </mat-nav-list>

      </mat-sidenav>

      <!-- side navi contents -->
      <div class="main-container">

        <!-- top navi -->
        <mat-toolbar color="primary" class="topnav" [hidden]="hasNoLayout" style="height: 48px;">
          <div class="brand" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon fxFlex="none" (mousedown)="toggleSideNav($event)">menu</mat-icon>
            <span class="brand-title" fxFlex="none" (mousedown)="goto(null, $event)">M2U</span>
          </div>

          <div fxFlex></div>

          <!--
          <mat-icon>search</mat-icon>
          <mat-input #topSearchBox id="top-search-box" (keyup)="search(topSearchBox.value)" placeholder="Search Workspace"></mat-input>
          -->

          <div class="tools" fxFlex="none" fxLayout="row" fxLayout-align="end center" *ngIf="user">
            <div fxFlex></div>
            <mat-icon fxFlex="none" [mat-menu-trigger-for]="authMenu">account_circle</mat-icon>
            <mat-menu #authMenu>
              <button mat-menu-item (click)="profile()">
                <span style="font-weight:bolder;">{{user.username}}</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <span>Logout</span>
              </button>

            </mat-menu>
          </div>
        </mat-toolbar>

        <!-- contents -->
        <div fxLayout="row">

          <!-- sidebar -->
          <div class="sidebar" fxFlex="none" [hidden]="hasNoLayout" *ngIf="currentNav && currentNav.children">
            <mat-list class="sidebar-header">
              <a mat-list-item (mousedown)="goto(currentNav.realpaths, $event)">
                <mat-icon mat-list-avatar>{{currentNav.icon}}</mat-icon>
                <span mat-line>{{currentNav.name}}</span>
              </a>
            </mat-list>

            <mat-divider></mat-divider>

            <!-- recursive component -->
            <app-sidebar [navs]="currentNav.children"></app-sidebar>
          </div>

          <!-- nested component... -->
          <div fxFlex class="main" [hidden]="isLoading">
            <router-outlet></router-outlet>
          </div>

          <!-- loading... -->
          <div class="rolling" fxFlex [hidden]="!isLoading"></div>
        </div>

      </div>

    </mat-sidenav-container>

  </div>
</div>
