<section>
  <h1>Permission Denied</h1>
  <h2>You are not authorized to the page!</h2>
  <div>
    <button mat-raised-button (click)="resignIn()" [color]="'primary'">Resign In
    </button>
  </div>
</section>
