<section>
  <h2>Page not found</h2>
  <p>Sorry but the page you were trying to view does not exist!</p>
  <div>
    <button mat-raised-button color="accent" routerLink="/">Back home</button>
  </div>
</section>
