<script src="node_modules/chart.js/src/chart.js"></script>
<section fxLayout="column" fxLayoutAlign="center" style="height:100%;">
  <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center top">
    <!-- column 1 -->
    <div fxFlex="90%" fxLayout="row" fxLayoutAlign="center top">
      <div fxFlex="70%" style="border:3px solid lightgrey;padding:0 10px 0 20px;background-color:white;">
        <h2>Monitoring</h2>
        <mat-tab-group>
          <mat-tab *ngFor="let svdg of svdglist" label="{{svdg.host}}">
            <h5>{{svdg.ip}}:{{svdg.port}}/{{svdg.grp_name}}</h5>
            <div style="height:570px;overflow-y:auto;float:left;width:32%;">Front
              <mat-list>
                <mat-expansion-panel *ngFor="let svdp of svdg.svd_proc_list">
                  <mat-expansion-panel-header
                    *ngIf="(svdp.group=='maum' || svdp.group=='sds' || svdp.group=='sds-in-mlt')">
                    <mat-panel-title style="width:70%;">{{svdp.name}}</mat-panel-title>
                    <mat-panel-description>
                      <mat-icon *ngIf="(svdp.state==20)" style="color:green">sync</mat-icon>
                      <mat-icon *ngIf="(svdp.state==0)" style="color:grey">sync_disabled</mat-icon>
                      <mat-icon *ngIf="(svdp.state==200)" style="color:red">sync_problem</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>
                    <mat-button-toggle *ngIf="(svdp.state==0)"
                                      (click)='sendStart(svdg.ip, svdg.port, svdp.group, svdp.name);'
                                      style="background-color:#2979ff;color:white;">Start
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="(svdp.state==20)"
                                      (click)='sendStop(svdg.ip, svdg.port, svdp.group, svdp.name);'
                                      style="background-color:red;color:white;">Stop
                    </mat-button-toggle>
                  </p>
                </mat-expansion-panel>
              </mat-list>
            </div>
            <div style="height:570px;overflow-y:auto;width:32%;float:left;margin-left:10px;">STT
              <mat-list>
                <mat-expansion-panel *ngFor="let svdp of svdg.svd_proc_list">
                  <mat-expansion-panel-header *ngIf="(svdp.group=='stt' || svdp.group=='stt-in-mlt')">
                    <mat-panel-title style="width:70%;">{{svdp.name}}</mat-panel-title>
                    <mat-panel-description>
                      <mat-icon *ngIf="(svdp.state==20)" style="color:green">sync</mat-icon>
                      <mat-icon *ngIf="(svdp.state==0)" style="color:grey">sync_disabled</mat-icon>
                      <mat-icon *ngIf="(svdp.state==200)" style="color:red">sync_problem</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>
                    <mat-button-toggle *ngIf="(svdp.state==0)"
                                      (click)='sendStart(svdg.ip, svdg.port, svdp.group, svdp.name);'
                                      style="background-color:#2979ff;color:white;">Start
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="(svdp.state==20)"
                                      (click)='sendStop(svdg.ip, svdg.port, svdp.group, svdp.name);'
                                      style="background-color:red;color:white;">Stop
                    </mat-button-toggle>
                  </p>
                </mat-expansion-panel>
              </mat-list>
            </div>
            <div style="height:570px;overflow-y:auto;width:32%;float:left;margin-left:10px;">TA
              <mat-list>
                <mat-expansion-panel *ngFor="let svdp of svdg.svd_proc_list">
                  <mat-expansion-panel-header
                    *ngIf="(svdp.group=='ta' || svdp.group=='ta-in-mlt' || svdp.group=='ta-nlp3kor' || svdp.group=='ta-we')">
                    <mat-panel-title style="width:70%;">{{svdp.name}}</mat-panel-title>
                    <mat-panel-description>
                      <mat-icon *ngIf="(svdp.state==20)" style="color:green">sync</mat-icon>
                      <mat-icon *ngIf="(svdp.state==0)" style="color:grey">sync_disabled</mat-icon>
                      <mat-icon *ngIf="(svdp.state==200)" style="color:red">sync_problem</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>
                    <mat-button-toggle *ngIf="(svdp.state==0)"
                                      (click)='sendStart(svdg.ip, svdg.port, svdp.group, svdp.name);'
                                      style="background-color:#2979ff;color:white;">Start
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="(svdp.state==20)"
                                      (click)='sendStop(svdg.ip, svdg.port, svdp.group, svdp.name);'
                                      style="background-color:red;color:white;">Stop
                    </mat-button-toggle>
                  </p>
                </mat-expansion-panel>
              </mat-list>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div fxFlex="30%" style="border:3px solid lightgrey;padding:0 0 0 20px;margin-left:10px;">
        <h2>Sessions</h2>
      </div>
    </div>
  </div>
</section>
<div *ngIf="spinnerFlag === true" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
