section {
  width: 1500px;
  background: #fafafa !important;
  margin: 0 auto;
  border-bottom: 0px !important;

  mat-card {
    margin: 10px 10px;
    // padding: 0 !important;
    &:hover {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .24), 0 1px 5px 0 rgba(0, 0, 0, .22);
    }
  }
}

.picker-frame {
  width: 250px;
  margin: 0px auto;
}

.period-frame {
  display: flex;
  justify-content: space-around;
}

.period-checked {
  background-color: #3f51b5;

  span {
    color: #e1e3f3;
  }
}

input[type="text"].period-text {
  background-color: transparent;
  border: none;
  font-size: 30px;
  width: 180px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.period-text-frame {
  justify-content: center;

  .change-date {
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
    width: 40px;
    height: 40px;

    &:hover {
      color: red;
    }

    &.left {
      margin-right: 15px;
    }

    &.right {
      margin-left: 15px;
    }
  }

  .period-text-inner-frame {
    align-items: center;

    .period-text {

    }

    .period-text-btn {
      width: 30px;
      height: 30px;
    }
  }
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading-spinner {
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.list-prcs {
  height: 100%;
}

.first-line {
  height: 300px;
}

.second-line {
  height: 400px;
}

.mat-expansion-panel-header-description {
  align-items: center;
}

