.filter-box {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  margin: 0 50px 0 20px;
}

.search-input {
  font-size: 15px;
  padding-top: 20px;
  margin-right: 50px;
  width: 100px;
}

.filter-button {
  margin: 0 5px 0 5px;
}

div.component {
  height: 100%;
  div.content {
    height: 100%;
    div.basic {
      height: 100%;
      div.pie-top {
        background-color: gray;
        height: 50px;
      }

      div.pie-middle {
      }
    }
  }
  .mat-tab-group {
    height: 100%;
    /deep/ .mat-tab-body-wrapper {
      height: 100%;
    }
  }
}

.mat-tab-group-data-text {
  text-align: center;
  font-size: 35px;
  margin-top: 120px;
}

/deep/ mat-toolbar-row {
  justify-content: space-between;
}

