<app-tools [actions]=actions [name]="'Intent Finder Policy: ' + itfp.name" [goBack]="backPage"
           [showMoreVert]=false></app-tools>
<!--Content start-->

<mat-sidenav-container>
  <div class="itf-policy-detail">
    <mat-card class="mat-card-style">
      <div class="box-size">
        <mat-card-title class="title">Basic information</mat-card-title>
        <div class="content-data">
          <mat-card-content class="left">Name</mat-card-content>
          <mat-card-content class="right">{{itfp.name}}</mat-card-content>
        </div>
        <div class="content-data">
          <mat-card-content class="left">Language</mat-card-content>
          <mat-card-content class="right">
            <img [src]="getImageUrl()">
          </mat-card-content>
        </div>
        <div class="content-data">
          <mat-card-content class="left">Default Skill</mat-card-content>
          <mat-card-content class="right">{{itfp.default_skill}}</mat-card-content>
        </div>
        <div class="content-data">
          <mat-card-content class="left">Description</mat-card-content>
          <mat-card-content class="right">{{itfp.description || '-'}}</mat-card-content>
        </div>
      </div>
    </mat-card>

    <mat-card class="mat-card-step-style">
      <div class="box-size">
        <mat-card-title class="title">Steps</mat-card-title>
        <mat-list class="steps">
          <mat-list-item *ngFor="let step of itfp.steps; let index = index"
                         (click)="getCategories(step, index)"
                         class="priority-item" name="step">
            <mat-chip mat-list-icon color="accent" class="step-run-style" selected="true">
              <a class="step-run-style-text">{{step.stepRunStyle}}</a>
            </mat-chip>
            <span mat-list-icon class="step-number">{{step.seq}}.</span>
            <span class="step-text" mat-line>{{step.name}}</span>
            <span *ngIf="step.type === 'CLM_DNN_CLASSIFIER'">
                    {{step.dnn_cl_mod.cut_coefficient.toFixed(3)}}
          </span>
            <a mat-icon-button *ngIf="step.run_style === 'IFC_SKILL_FOUND_RETURN'">
              <mat-icon>keyboard_return</mat-icon>
            </a>

            <a mat-icon-button *ngIf="step.run_style ==='IFC_SKILL_FOUND_COLLECT_HINTS'
                || step.run_style === 'IFC_HINT'">
              <mat-icon>arrow_downward</mat-icon>
            </a>

            <a mat-icon-button class="step-category-length"
               [hidden]="step.categories.length === 0 || step.categories[0] === ''">
              <mat-icon class="step-category-length-icon">import_contacts</mat-icon>
              {{step.categories.length}}
            </a>

            <div class="step-type" mat-line>{{step.stepType}}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card>

    <mat-card class="mat-card-categories-style">
      <div class="box-size">
        <mat-list class="itf-policy-detail-categories">
          <!--CustomScript가 아닐 때-->
          <ng-container *ngIf="selectedStepCategory[0] !== ''">
            <mat-card-title class="title">Categories</mat-card-title>
            <mat-chip-list *ngFor="let category of selectedStepCategory">
              <mat-chip class="category-chip">{{category}}</mat-chip>
            </mat-chip-list>
          </ng-container>

          <!--CustomScript 일 때-->
          <ng-container *ngIf="selectedStepCategory[0] === ''">
            <mat-card-title class="title">Custom Script</mat-card-title>
            <div class="content-data">
              <mat-card-content class="left">Filename</mat-card-content>
              <mat-card-content class="right">{{customScriptData.filename}}</mat-card-content>
            </div>
            <div class="content-data">
              <mat-card-content class="left">Classify Function</mat-card-content>
              <mat-card-content class="right">{{customScriptData.classify_func}}</mat-card-content>
            </div>
          </ng-container>
        </mat-list>
      </div>
    </mat-card>
  </div>
</mat-sidenav-container>
