<h2 align="center" *ngIf="itfpInfo">{{itfpInfo.name}}</h2>
<mat-tab-group *ngIf="itfpInfo">
  <mat-tab label="Policy Information">
    <div class="itfp-policy-information">
      <div class="content-data">
        <div class="left">Name</div>
        <div class="right">{{itfpInfo.name}}</div>
      </div>
      <div class="content-data">
        <div class="left">Description</div>
        <div class="right">{{itfpInfo.description || '-'}}</div>
      </div>

      <div class="content-data">
        <div class="left">Default Skill</div>
        <div class="right">{{itfpInfo.default_skill}}</div>
      </div>

      <div class="content-data">
        <div class="left">Steps</div>
      </div>

      <div class="right-img" *ngIf="itfpInfo.customLength !== 0">
        <div class="content-data">
          <div class="steps-list-icon">&#x25b6;</div>
          <div class="step-list">
            <span class="step-title">Custom Scripts</span>
            <span class="step-length">{{itfpInfo.customLength}}</span>
          </div>
        </div>
      </div>

      <div class="right-img" *ngIf="itfpInfo.pcreLength !== 0">
        <div class="content-data">
          <div class="steps-list-icon">&#x25b6;</div>
          <div class="step-list">
            <span class="step-title">PCRE</span>
            <span class="step-length">{{itfpInfo.pcreLength}}</span>
          </div>
        </div>
      </div>

      <div class="right-img" *ngIf="itfpInfo.hmdLength !== 0">
        <div class="content-data">
          <div class="steps-list-icon">&#x25b6;</div>
          <div class="step-list">
            <span class="step-title">HMD</span>
            <span class="step-length">{{itfpInfo.hmdLength}}</span>
          </div>
        </div>
      </div>

      <div class="right-img" *ngIf="itfpInfo.dnnLength !== 0">
        <div class="content-data">
          <div class="steps-list-icon">&#x25b6;</div>
          <div class="step-list">
            <span class="step-title">DNN</span>
            <span class="step-length">{{itfpInfo.dnnLength}}</span>
          </div>
        </div>
      </div>

      <div class="right-img" *ngIf="itfpInfo.finalLength !== 0">
        <div class="content-data">
          <div class="steps-list-icon">&#x25b6;</div>
          <div class="step-list">
            <span class="step-title">Final Skill</span>
            <span class="step-length">{{itfpInfo.finalLength}}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

