.itfp-policy-information {
  margin-top: 20px;
  .content-data {
    margin: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px;
    position: relative;
    mat-icon {
      color: #d3d3d3;
    }
    .left {
      color: rgba(0, 0, 0, .54);
      float: left;
      width: 166px;
    }
    .right {
      float: left;
      width: 258px;
    }
    .right-img {
      width: 20px;
      height: 20px;
      padding-left: 10px;
    }
    .steps-list-icon {
      padding-left: 30px;
      color: #d3d3d3;
      padding-right: 3px;
    }
    .step-list {
      width: 55%;
      .step-title {
        float: left;
      }
      .step-length {
        float: right;
        border-radius: 48%;
        height: 24px;
        width: 22px;
        text-align: center;
        background-color: #2978F5;
        color: white;
      }
    }
  }
}
