<app-tools [actions]=actions>
  <app-form-control-input app-tools-left class="inline" [control]="filterKeyword" label="Search.." type="text">
  </app-form-control-input>
  <div app-tools-right>
    <button mat-button color="primary" class="mat-button" (click)="togglePanel()">{{panelToggleText}}</button>
  </div>
</app-tools>

<h2 *ngIf="page_title">{{page_title}}</h2>
<p *ngIf="page_description">{{page_description}}</p>

<mat-sidenav-container>
  <div class="main-container">
    <app-mat-table #tableComponent [rows]="rows" [headers]="header"
                   [dataSource]="dataSource"  (outputCheckedRow)="whenCheckChanged($event)"></app-mat-table>

    <ng-template let-row="row" #daInstancesTemplate>
      <ng-container *ngFor="let daInstance of row.daInstances">
        <img [src]="getImage(daInstance, col)">
        <a [innerHTML]="daInstance.count"></a>
      </ng-container>
    </ng-template>
    <ng-template let-row="row" #sessionCntTemplate>
      {{row.session_cnt}}
    </ng-template>
    <ng-template let-row="row" #intentFinderPolicyTemplate>
      <a [ngClass]="getNavigateClassName(row, 'intent_finder_policy')"
         (click)="navigateIntentFinderPolicyView(row)" [innerHTML]="row.intent_finder_policy"></a>
    </ng-template>
  </div>
  <mat-sidenav class="cb-sidepanel" #sidenav align="end" mode="side" opened="false">
    <app-chatbots-panel #infoPanel></app-chatbots-panel>
  </mat-sidenav>
</mat-sidenav-container>
