<div *ngIf="daiExecInfos">
  <h2 *ngIf="daiExecInfos">{{daiName}} - DA Instance</h2>
  <mat-tab-group>
    <mat-tab label="Activity Status">
      <mat-list-item>
        <h3>{{running}} running/ {{stop}} stopped</h3>
      </mat-list-item>
      <mat-list-item>
        <div class="dainstance-panel-table">
          <perfect-scrollbar>
            <app-mat-table #tableComponent [rows]="rows" [headers]="header"
                           [dataSource]="dataSource" [isShowPaginator]="false"> </app-mat-table>
          </perfect-scrollbar>
        </div>
      </mat-list-item>
    </mat-tab>
  </mat-tab-group>
</div>
