.toolbars {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap
}

.arrowTool {
  display: flex;
}

.contentTool {
  margin: 0 0 0px 500px;
}

.info {
  box-shadow: none !important;
  height: 300px !important;
}

.infoContent {
  margin-left: 5px;
}

.runtime-table {
  padding-top: 15px;
  width: 60%;
}
