<app-tools [name]="dialogTitle" [showMoreVert]=false [goBack]="backPage"></app-tools>

<mat-sidenav-container>
<div class="dainstance-upsert">
  <div class="dainstance-upsert-left">
    <mat-list-item>
      <mat-form-field class="mat-form-size-270">
        <input *ngIf="role!=='edit'" class="input-size-name" matInput required name="name"
               [(ngModel)]="dai.name" [placeholder]="'Name'"
               [formControl]="nameFormControl"
               [errorStateMatcher]="formErrorStateMatcher">
        <input *ngIf="role==='edit'" class="input-size-name" matInput name="name"
               [(ngModel)]="dai.name" [placeholder]="'Name'" [disabled]="true">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-button-toggle-group class="lang-group" [(ngModel)]="dai.lang"
                               (change)="onSelectedLangChange()">
        <ng-container *ngFor="let key of appEnum.langCodeKeys">
          <mat-button-toggle class="lang-button" color=primary [value]="key">
            {{appEnum.langCode[key]}}
          </mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field class="mat-form-size-270">
        <mat-select class="select-da" [(ngModel)]="selectedDa" placeholder="DA"
                    (change)="onSelectedDaChange()">
          <mat-option *ngFor="let da of das" [value]="da">
            {{da.da_info.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <div *ngFor="let dam of dams; let i = index">
        <mat-checkbox [disabled]="dam.disabled" [checked]="dam.checked"
                      (change)="dam.checked = !dam.checked">
          {{dam.label}}
        </mat-checkbox>
        <mat-form-field class="input-size-number">
          <input type="number" matInput required min="0" max="8" [(ngModel)]="dam.instances"
                 [disabled]="dam.disabled||!dam.checked">
        </mat-form-field>
      </div>
    </mat-list-item>
    <!--description-->
    <mat-list-item>
      <mat-form-field mat-no-float class="mat-form-size-270">
            <textarea class="input-size-description" matInput name="description"
                      [(ngModel)]="dai.description"
                      [placeholder]="'Description'"></textarea>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <button mat-raised-button [color]="'primary'" (click)="submit()"
              [innerHTML]="getButtonName()"></button>
      <button class="cancel" mat-raised-button type="button" (click)="backPage()">Cancel</button>
    </mat-list-item>
  </div>

  <div class="dainstance-upsert-right">
    <a class="title">Skill List</a>
    <mat-checkbox class="checkAll" [(ngModel)]="allChecked" (change)="checkAll()"></mat-checkbox>
    <div class="selectAll">
      <mat-selection-list class="selection-list" #skillSelectionList>
        <ng-container *ngFor="let skill of chatbotSkillList; let i = index;">
          <mat-divider *ngIf="i != 0"></mat-divider>
          <ng-container *ngIf="defaultDaiSkillList.includes(skill)">
            <mat-list-option value="{{skill}}" class="list-item" selected>{{skill}}
            </mat-list-option>
          </ng-container>
          <ng-container *ngIf="! defaultDaiSkillList.includes(skill)">
            <mat-list-option value="{{skill}}" class="list-item">{{skill}}
            </mat-list-option>
          </ng-container>
        </ng-container>
      </mat-selection-list>
    </div>
  </div>

  <div class="dainstance-upsert-right">
    <a class="title">Runtime Parameters<br></a>
    <a class="description">You need Runtime Parameters to register the DA Instances.</a>
    <mat-chip-list *ngFor="let runParam of runParams; let i = index;">
      <mat-chip color="primary" selected="true">{{runParam.name}}</mat-chip>
      <ng-container *ngIf="runParam.type === 'DATA_TYPE_AUTH'">
        <mat-form-field class="mat-form-size-270">
          <input type="password" class="dainstance-right-input-size" matInput
                 [required]="runParam.required"
                 name="runParam"
                 [id]="i" [(ngModel)]="runParam.default_value">
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="runParam.type !== ('DATA_TYPE_AUTH')">
        <ng-container *ngIf="runParam.type !== ('DATA_TYPE_INT')">
          <mat-form-field class="mat-form-size-270">
            <input class="dainstance-right-input-size" matInput [required]="runParam.required"
                   name="runParam"
                   [id]="i" [(ngModel)]="runParam.default_value">
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="runParam.type === ('DATA_TYPE_INT')">
          <mat-form-field class="mat-form-size-270">
            <input class="dainstance-right-input-size" matInput [required]="runParam.required"
                   name="runParam"
                   [id]="i" [(ngModel)]="runParam.default_value">
            <!--<mat-error *ngIf="typeFormControl.hasError('pattern')">-->
              <!--<strong>Integer</strong> type required.-->
            <!--</mat-error>-->
          </mat-form-field>
        </ng-container>
      </ng-container>
    </mat-chip-list>
  </div>
</div>
</mat-sidenav-container>
