.toolbars {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap
}

.arrowTool {
  display: flex;
}

.contentTool {
  margin: 0 0 0px 500px;
}

.dainstance-upsert {
  float: left;
  width: 1500px;
  margin-top: 20px;
  margin-left: 50px;
  .dainstance-upsert-left {
    float: left;
    width: 22%;
    height: 500px;
    border-right: 1px solid #d3d3d3;
    /deep/ .mat-button-toggle-group {
      overflow: hidden;
      border-radius: 5px;
    }
    /deep/ .mat-button-toggle-label-content {
      user-select: none;
      display: inline-block;
      line-height: 32px;
      padding: 0 30px;
      cursor: pointer;
    }
    .mat-button-toggle-checked {
      color: white;
      background-color: #2979ff;
    }
    .input-size-name {
      width: 270px;
    }
    .cancel {
      margin-left: 20px;
    }
    .lang-group {
      margin: 5px 0 5px 15px
    }
    .select-skill {
      margin-top: 20px;
      width: 270px;
    }
    .select-da {
      margin-top: 20px;
      width: 270px;
    }
    .input-size-description {
      width: 270px;
      height: 70px;
    }
    /deep/ .mat-checkbox-layout .mat-checkbox-label {
      line-height: 24px;
      margin-right: 10px;
    }
    .agents {
      box-shadow: none !important;
    }
    .mat-form-size-270 {
      display: inline-block;
      position: relative;
      text-align: left;
      width: 270px;
    }
    .input-size-number {
      display: inline-block;
      position: relative;
      text-align: center;
      width: 29px;

      /deep/ .mat-input-wrapper {
        position: relative;
        width: 100%;
      }
    }
  }
  .dainstance-upsert-right {
    float: left;
    margin-top: 1px;
    margin-left: 30px;
    width: 400px;
    height: 570px;
    overflow-y: auto;
    .title {
      font-size: 16px;
      font-weight: lighter;
    }
    .checkAll {
      float: right !important;
      margin-right: 16px !important;
    }
    .skillList{
      .selection-list {
        height: 500px;
        overflow-y: auto;
        .description {
          font-size: 13px;
          color: #b9b9b9;
        }
        .mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-primary {
          margin-top: 13px;
          background-color: #2979ff;
          color: white;
          cursor: default;
          margin-right: 7px;
        }
        .dainstance-right-input-size {
          width: 300px;
        }
      }
    }
  }
}
