.main-container {
  margin: 20px;
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

/deep/ .mat-toolbar-single-row {
  justify-content: space-between;
}

.cb-sidepanel {
  width: 30% !important;
  border-left: 1.1px solid #d3d3d3 !important;
  /deep/ .mat-tab-labels {
    display: flex;
    justify-content: center;
  }
}

.idCursor {
  cursor: pointer;
  color: #3367d6;
  font-weight: 600;
}
