.panel-text {
  margin-left: 100px;
  margin-top: 20px;
}

.label-test {
  /deep/ .mat-tab-groupa {
    pointer-events: none;
  }
}

.cb-panel-toolbar {
  /deep/ .mat-toolbar {
    min-height: 64px;
    background-color: white;
    /deep/ .mat-toolbar-row {
      justify-content: baseline;
    }
  }
}

.chatbot-panel-table {
  height: 600px;
}

.chatbot-panel-properties {
  margin-top: 20px;
  .full-data {
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px;
    margin: 5px 0px;
    position: relative;
    .left {
      display: flex;
      float: left;
      mat-icon {
        min-width: 24px;
        color: #d3d3d3;
      }
      .title {
        color: rgba(0, 0, 0, .54);
        width: 154px;
      }
    }
    .right {
      float: left;
      max-width: 280px;
      margin-left: 30px;
      padding-top: 8px;
      word-break: break-all;
    }
  }
  .full-data::after {
    content: '';
    display: block;
    clear: both;
  }

  .content-data {
    margin: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px;
    position: relative;
    mat-icon {
      color: #d3d3d3;
    }
    .left {
      color: rgba(0, 0, 0, .54);
      float: left;
      width: 166px;
    }
    .right {
      float: left;
      width: 258px;
    }
    .right-img {
      width: 20px;
      height: 20px;
      padding-left: 10px;
    }
    .steps-list-icon {
      padding-left: 30px;
      color: #d3d3d3;
      padding-right: 3px;
    }
    .step-list {
      width: 55%;
      .step-title {
        float: left;
      }
      .step-length {
        float: right;
        border-radius: 48%;
        height: 24px;
        width: 22px;
        text-align: center;
        background-color: #2978F5;
        color: white;
      }
    }
  }
}
