.chatbot-upsert {
  width: 50%;
  
  .information-group {
    margin-left: 15px;
    .mat-form-field {
      display: inline-block;
      position: relative;
      text-align: left;
      width: 300px;
      margin-bottom: 15px;
    }
  }

  .itf-group {
    margin-top: 20px;
    margin-left: 20px;
    width: 1000px;
    height: 500px;

    .mat-radio-outer-circle {
      box-sizing: border-box;
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      transition: border-color ease 280ms;
      width: 20px;
      margin-left: 250px;
      border-width: 2px;
      border-style: solid;
      border-radius: 50%;
    }

    .policy-radio-group {
      display: inline-flex;
      flex-direction: column;
    }

    .policy-radio-button {
      margin: 5px 5px 5px 20px;
    }

    .left-item {
      float: left;
      width: 300px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;

      .policy-description {
        color: #a0a0a0;
        cursor: default;
        font-size: 13px;
      }
    }

    /deep/ .mat-list {
      display: block;
      padding-top: 0px;
    }

    .right-item {
      width: 360px;
      height: 100%;
      padding-left: 20px;
      padding-right: 50px;
      overflow-x: hidden;
      overflow-y: auto;

      .itf-not-defined {
        width: 230px !important;
      }

      .itf-defined {
        width: 356px !important;
      }

      .content-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        min-height: 36px;
        padding: 8px 16px;
        position: relative;
        .left {
          color: rgba(0, 0, 0, .54);
          float: left;
          padding-right: 23px;
          width: 166px;
        }
        .right {
          float: left;
          width: 458px;
          word-break: break-all;
        }
      }

      .step-run-style {
        width: 24px !important;
        font-size: 16px !important;
        .step-run-style-text {
          margin-left: 7px;
        }
      }

      .step-number {
        width: 0px !important;
        font-size: 15px !important;
      }

      .step-type {
        color: #a1a1a1;
        font-size: 13px;
      }

      .step-run-style {
        cursor: default;
      }

      .step-category-length {
        font-size: 13px;
        color: #a1a1a1;
        .step-category-length-icon {
          color: #297A80;
          cursor: default;
        }
      }
    }
  }

  .stt-models {
    width: 303px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #d3d3d3;
    .stt-model-not-defined {
      text-align: center;
      margin-top: 180px;
      color: #d3d3d3;
    }
  }

  .chatbot-button-line {
    margin-top: 15px;
    margin-bottom: 3px;
  }
}
