<app-tools [actions]=actions [name]="'Chatbot: ' + chatbot.name" [showMoreVert]=false
           [goBack]="backPage"></app-tools>

<mat-sidenav-container>
  <div class="chatbot-detail">
    <mat-card class="mat-card-style">
      <div class="box-size">
        <div class="title">Basic Information</div>
        <div class="content-data">
          <div class="left">Name</div>
          <div class="right">{{chatbot.name || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Title</div>
          <div class="right">{{chatbot.title || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Description</div>
          <div class="right">{{chatbot.description || '-'}}</div>
        </div>

        <div class="content-data">
          <ng-container *ngIf="intentFinderPolicy.name === 'none'">
            <div class="left">Default Skill</div>
          </ng-container>

          <ng-container *ngIf="intentFinderPolicy.name !== 'none'">
            <div class="left">The skill to use when creating a new session</div>
          </ng-container>
          <div class="right">{{chatbot.default_skill || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Session Timeout</div>
          <div class="right">{{chatbot.session_timeout || '-'}} seconds</div>
        </div>
        <div class="content-data">
          <div class="left">External System</div>
          <div class="right">{{chatbot.external_system_info || '-'}}</div>
        </div>

        <div class="content-data">
          <div class="left">Active</div>
          <div class="right">
            <mat-icon [ngClass]='getIcon(chatbot.active)'
                      [innerHTML]="getIcon(chatbot.active)"></mat-icon>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="mat-card-style">
      <div class="box-size">
        <div class="title">Intent Finder Policy</div>
        <div class="content-data">
          <div class="left">Name</div>
          <div class="right">
          <span class="navigate" *ngIf="intentFinderPolicy.name !== 'none'"
                (click)="naviagateItfp()">
            {{intentFinderPolicy.name || '-'}}
          </span>
            <span *ngIf="intentFinderPolicy.name === 'none'">{{intentFinderPolicy.name}}</span>
          </div>
        </div>
        <div class="content-data">
          <div class="left">Lang</div>
          <div class="right" *ngIf="intentFinderPolicy['lang'] !== undefined">
            <img [src]="getImage(intentFinderPolicy['lang'])">
          </div>
          <div class="right" *ngIf="intentFinderPolicy['lang'] === undefined">-</div>
        </div>
        <div class="content-data">
          <div class="left">Default Skill</div>
          <div class="right">{{intentFinderPolicy.default_skill || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Description</div>
          <div class="right">{{intentFinderPolicy['description'] || ' -'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Steps</div>
        </div>
        <table class="intent-finder-table">
          <tr>
            <td class="header">Name</td>
            <td class="header">Classifying Method</td>
            <td class="header">Run Style</td>
            <td class="header">Categories</td>
          </tr>
          <ng-container *ngIf="intentFinderPolicy.hasOwnProperty('steps')">
            <tr *ngFor="let step of intentFinderPolicy.steps">
              <td class="content">{{step.name}}</td>
              <td class="content">{{step.stepType}}</td>
              <td class="content">{{step.stepRunStyle}}</td>
              <td class="content-skill">
                <ng-container *ngFor="let category of step.categories">
                  {{category}}
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
    </mat-card>

    <mat-card class="mat-card-style">
      <div class="box-size">
        <div class="title">STT Models</div>
        <table class="stt-model-table">
          <tr>
            <td class="header">Model</td>
            <td class="header">Lang</td>
            <td class="header">Sample Rate</td>
          </tr>
          <ng-container *ngIf="chatbot.hasOwnProperty('stt_models')">
            <tr *ngFor="let model of chatbot.stt_models">
              <td class="content">{{model.model}}</td>
              <td class="content"><img [src]="getImage(model.lang)"></td>
              <td class="content-samplerate">{{model.sample_rate}}</td>
            </tr>
          </ng-container>
        </table>
      </div>
    </mat-card>
  </div>
</mat-sidenav-container>
