<app-tools [actions]=actions [name]="chatbotName+': DA Instances'" [goBack]="backPage">
  <div app-tools-right>
    <button mat-button color="primary" class="mat-button" (click)="togglePanel()">{{panelToggleText}}</button>
  </div>
</app-tools>

<mat-sidenav-container>
  <app-mat-table #tableComponent [rows]="rows" [headers]="header"
                 [dataSource]="dataSource"  (outputCheckedRow)="whenCheckChanged($event)"></app-mat-table>

  <ng-template let-row="row" #damsTemplate>
    <ng-container *ngFor="let dam of row.dai_exec_info">
      <a>{{dam.dam_name}}</a>
      <mat-icon [ngClass]="getDamIcon(dam.active)" [innerHTML]="getDamIcon(dam.active)"></mat-icon>
    </ng-container>
  </ng-template>

  <mat-sidenav class="dai-sidepanel" #sidenav align="end" mode="side" opened="false">
    <app-chatbots-dainstances-panel #infoPanel></app-chatbots-dainstances-panel>
  </mat-sidenav>
</mat-sidenav-container>
