<app-tools [showMoreVert]=false>
</app-tools>

<h2 *ngIf="page_title">{{page_title}}</h2>
<p *ngIf="page_description">{{page_description}}</p>

<mat-sidenav-container>
  <div class="main-container">
    <div class="statistics-category">
      <mat-form-field class="statistics-item">
        <mat-select [(ngModel)]="selectedItem" placeholder="Item" required [disabled]="!connectorType">
          <mat-option *ngFor="let item of items" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="statistics-frequency">
        <mat-select [(ngModel)]="selectedFrequency" placeholder="Frequency" required [disabled]="!connectorType">
          <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
            {{frequency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="analyse-button" color="primary" [disabled]="!connectorType"
              (click)="doAnalyse()">
        <mat-icon>trending_up</mat-icon>
        <span>Analyse</span>
      </button>
      <mat-form-field class="filter-keyword-input" [hidden]="!connectorType">
        <input matInput type="text" [formControl]="filterKeyword" [placeholder]="'Search..'">
      </mat-form-field>
      <button mat-raised-button class="download-button" color="primary" [disabled]="!connectorType"
              (click)="download()">
        <mat-icon>file_download</mat-icon>
        <span>Download</span>
      </button>
    </div>
    <app-table #tableComponent [header]="table.header" [rows]="table.rows" filter="search"
               [paginationOff]="table.paginationOff">
    </app-table>
  </div>
</mat-sidenav-container>

