<h2 align="center" *ngIf="user">{{user.username}}</h2>
<mat-tab-group *ngIf="user">
  <mat-tab label="Permissions">
    <div class="accounts-panel">
      <h3 *ngIf="isAdmin">It has role of <strong>Administrator.</strong></h3>
      <app-accounts-upsert-table
        *ngIf="!isAdmin" #tableComponent
        [header]="table.header||''"
        [rows]="table.rows"
        [paginationOff]="true">
      </app-accounts-upsert-table>
    </div>
  </mat-tab>
</mat-tab-group>
