<div class="table">
  <table>
    <div [ngClass]="{'accounts-permission-table-header':inUpsert}">
      <colgroup *ngIf="header.length !==0">
        <col *ngFor="let col of header; let i = index" [width]="col.width || ''"/>
      </colgroup>
      <tr *ngIf="header.length !==0">
        <ng-container *ngFor="let col of header; let i = index">
          <th *ngIf="col.sortable">
            <a (click)="sort(i)">
              <span [innerHTML]="col.name"></span>
              <mat-icon *ngIf="(sorter && sorter.col === col && sorter.order)">expand_more</mat-icon>
              <mat-icon *ngIf="!(sorter && sorter.col === col && sorter.order)">expand_less</mat-icon>
            </a>
          </th>
          <th *ngIf="!col.sortable" class="role-initial">
            <a [innerHTML]="col.name"></a>
          </th>
        </ng-container>
      </tr>
    </div>
    <div [ngClass]="{'accounts-permission-table-body':inUpsert}">
      <tr *ngFor="let row of filteredRows">
        <td *ngFor="let col of header" [ngClass]="col.class || ''">
          <a *ngIf="!col.checkbox" matTooltip="{{row.tip}}" matTooltipPosition="before"
             [innerHTML]="getContent(row, col)"></a>
          <ng-container *ngIf="inUpsert">
            <mat-checkbox *ngIf="col.checkbox" [disabled]="isDisabled(row, col)" [checked]="getContent(row, col)"
                          (change)="onRolesChanged($event, row, col)">
            </mat-checkbox>
          </ng-container>
          <ng-container *ngIf="!inUpsert">
            <mat-checkbox *ngIf="col.checkbox&&isDisabled(row, col)" [disabled]="true"></mat-checkbox>
            <mat-icon *ngIf="col.checkbox&&!isDisabled(row, col)" [ngClass]="getAllowedClass(row, col)"
                      [innerHTML]="getAllowedIcon(row, col)"></mat-icon>
          </ng-container>

        </td>
      </tr>
    </div>

  </table>
</div>
