.accounts-permission-table-header {
  width: 100%;
}

.accounts-permission-table-body {
  height: 180px;
  //width: 100%;
  overflow: auto
}

.role-initial {
  text-align: center !important;
  font-weight: bolder !important;
}

.allowed-icon {
  font-size: 26px !important;
  margin-left: -4px;
}

.allowed-icon:not(.mat-accent) {
  color: rgba(0, 0, 0, 0.54);
}

/deep/ .mat-tooltip {
  font-size: 14px !important;
  color: darkblue !important;
  background-color: #daeaff !important;
  border: 0.5px dashed darkblue;
}

/deep/ .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
  border-width: 1px;
  border-style: dotted;
}
