<app-tools [showMoreVert]=false>
  <app-form-control-input app-tools-left class="inline" [control]="filterKeyword" label="Search.." type="text">
  </app-form-control-input>
</app-tools>

<mat-sidenav-container>
  <div class="main-container">
    <app-mat-table #tableComponent [rows]="rows" [headers]="header"
                   [dataSource]="dataSource">
    </app-mat-table>
  </div>
</mat-sidenav-container>
