<div class="table">
  <table>
    <colgroup *ngIf="header.length !==0">
      <col *ngIf="checkable" width="70"/>
      <col *ngFor="let col of header; let i = index" [width]="col.width || ''"/>
    </colgroup>
    <tr *ngIf="header.length !==0">
      <th *ngIf="checkable">
        <mat-checkbox [checked]="checkedAll"
                      (change)="checkAll($event)"></mat-checkbox>
      </th>
      <th *ngFor="let col of header; let i = index">
        <a (click)="sort(i)" *ngIf="col.sortable">
          <span [innerHTML]="col.name"></span>
          <mat-icon *ngIf="(sorter && sorter.col === col && sorter.order)">expand_more</mat-icon>
          <mat-icon *ngIf="!(sorter && sorter.col === col && sorter.order)">expand_less</mat-icon>
        </a>
        <a *ngIf="!col.sortable" [innerHTML]="col.name"></a>
      </th>
    </tr>
    <tr *ngFor="let row of filteredRows" (click)="rowClick(row)">
      <td *ngFor="let col of header" [ngClass]="col.class || ''"
          [class.textLimitLong]="col.styleTextLimitLong"
          [class.textLimitShort]="col.styleTextLimitShort"
          [class.accuracy]="col.styleAccuracy">
        <a *ngIf="!col.template && !col.asIcon && !col.withImage && !col.styleStar"
           [innerHTML]="getContent(row, col)"
           [ngClass]="getClass(row, col)"
           (click)="colClick(row, col)"></a>
        <span *ngIf="!col.template && !col.asIcon && !col.withImage && col.styleStar"
              [ngClass]="getClass(row, col)"
              (click)="colClick(row, col)"
              class="star">
          <em class="star_red"
              [style.width]="getContent(row, col)">사용자점수</em>
        </span>
        <img *ngIf="col.withImage" [src]="getImage(row, col)">
        <ng-template *ngIf="col.template"
                     [ngTemplateOutlet]="col.template"
                     [ngTemplateOutletContext]="{row: row}">
        </ng-template>
      </td>
    </tr>
  </table>
  <pagination-controls [id]="tableId" #paginationControls [hidden]="paginationOff"></pagination-controls>
  <div class="rolling" [hidden]="!fetching"></div>
</div>
