<div fxLayout="column">
  <app-tools [name]="'Satisfaction'" [showMoreVert]=false></app-tools>
  <div fxLayout="column" class="total_body">
    <div class="filter-box"  fxLayoutAlign="space-between center">
      <div fxLayout="row">

        <mat-form-field class="search-input">
          <input matInput class="start-date-input"
                 [matDatepicker]="startPicker2"
                 placeholder="Start Date"
                 [max]="requestParam.endAt.value"
                 [(formControl)]="requestParam.startAt"
                 (dateChange)="changeDateEvent($event)">
          <mat-datepicker-toggle matSuffix [for]="startPicker2"></mat-datepicker-toggle>
          <mat-datepicker #startPicker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="search-input">
          <input matInput class="end-date-input"
                 [matDatepicker]="endPicker2"
                 placeholder="End Date"
                 [min]="requestParam.startAt.value"
                 [formControl]="requestParam.endAt"
                 (dateChange)="changeDateEvent($event)">
          <mat-datepicker-toggle matSuffix [for]="endPicker2"></mat-datepicker-toggle>
          <mat-datepicker #endPicker2></mat-datepicker>
        </mat-form-field>


        <mat-form-field class="search-input" [hidden]="activeLineTab">
          <mat-select placeholder="Period"
                      [(ngModel)]="requestParam.periodType"
                      (change)="check($event)" id="periodType">
            <mat-option *ngFor="let key of periodTypes" [value]="key">
              {{appEnum.periodType[key]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--<div fxFlex="80"></div>-->
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button class="filter-button" color="primary"
                [disabled]="activeAnalysis"
                (click)="onSearch()">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </button>
      </div>
    </div>

    <!--Filter Space-->
    <div class="filter-box"  fxLayoutAlign="space-between center"
         [hidden]="!activeLineTab">
      <div fxLayout="row">
        <mat-form-field class="keySearch-input">
          <mat-select [(ngModel)]="selectedSearchOption"
                      placeholder="Search Option"
                      [disabled]="!successQuery">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let key of appEnum.searchOptionKeys" [value]="key">
              {{appEnum.searchOption[key]}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="search-input">
          <input class="input-size" matInput name="name"
                 [disabled]="!successQuery"
                 (keydown)="onKeyPress($event)"
                 [(ngModel)]="keyword" [placeholder]="'Keyword'">
        </mat-form-field>
      </div>
      <!--<div fxFlex="80"></div>-->
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button class="filter-button" color="primary"
                [disabled]="!keyword"
                (click)="onDetailSearch()">
          <mat-icon>filter_list</mat-icon>
          <span>Filter</span>
        </button>

        <button mat-raised-button class="filter-button" color="primary"
                [disabled]="!keyword"
                (click)="onReset()">
          <mat-icon>loop</mat-icon>
          <span>Reset</span>
        </button>

        <button mat-raised-button class="filter-button" color="primary"
                [disabled]="activeDownload"
                (click)="onDownload()">
          <mat-icon>file_download</mat-icon>
          <span>Download</span>
        </button>
      </div>
    </div>

    <div class="content" fxFlex="90">
      <mat-tab-group (selectedTabChange)="onTabClick($event)">

        <mat-tab label="Records">
          <!-- Talk List -->
          <div class="main-container">
            <app-satisfaction-view-table [hidden]="isLoading || !availableData" #tableComponent [header]="table.header"
                                         [rows]="table.rows" filter="search">
            </app-satisfaction-view-table>

            <div class="rolling" [hidden]="!isLoading">
            </div>
            <div class="mat-tab-group-data-text" [hidden]="availableData">
              No data available for that period.
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Time Series">
          <ng-container *ngIf="availableChartData === true">
            <!-- 만족도 그래프 -->
            <div class="stat">
              <div class="stat-graph">
                <canvas baseChart width="5" height="3"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="availableChartData === false">
            <div class="mat-tab-group-data-text">
              No data available for that period.
            </div>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
