.total_body {
  .filter-box {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin: 0 50px 0 20px;
  }

  /deep/ .mat-tab-label {
    width: 50%;
  }
  /deep/ .mat-tab-body .mat-tab-body-content {
    overflow: hidden;
    .row {
      width: 600px;
    }
  }

  .keySearch-input {
    font-size: 15px;
    margin-right: 50px;
    width: 130px;
  }

  .search-input {
    font-size: 15px;
    margin-right: 50px;
    width: 100px;
    /deep/ .mat-input-wrapper {
      width: 100px;
    }
  }

  .filter-button {
    margin: 0 5px 0 5px;
  }
}

/deep/ mat-toolbar-row {
  justify-content: space-between;
}

.userSearchInput {
  margin-left: 30px;
}

.analyse-button {
  margin-left: 40px;
}

.filter-button {
  margin-left: 10px;
}

.main-container {
  margin: 20px;
  .rolling {
    height: 100px;
    margin-top: 120px;
    background: url(/assets/img/rolling.svg) center center no-repeat;
  }
}

.mat-tab-group-data-text {
  height: 100px !important;
  text-align: center;
  font-size: 35px;
  margin-top: 120px;
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

/deep/ mat-toolbar-row {
  justify-content: space-between;
}

.total_body .stat {

  width: 800px;
  height: 500px;
  margin: 50px;
}
