<ng-container *ngIf="chatbot">
    <mat-tab-group [selectedIndex]="selectedIndex" (selectChange)="selectedIndex = $event.index">
      <mat-tab label="Chatbot Info">
        <div class="testchat-panel">
          <div class="content-data">
            <div class="left">Name</div>
            <div class="right">{{chatbotInfo?.name || '-'}}</div>
          </div>
          <div class="content-data">
            <div class="left">Title</div>
            <div class="right">{{chatbotInfo?.title || '-'}}</div>
          </div>
          <div class="content-data">
            <div class="left">Description</div>
            <div class="right">{{chatbotInfo?.description || '-'}}</div>
          </div>
          <div class="content-data">
            <div class="left">IntentFinder</div>
            <div class="right">{{chatbotInfo?.intent_finder || '-'}}</div>
          </div>
          <div class="content-data">
            <div class="left">Default Skill</div>
            <div class="right">{{chatbotInfo?.default_skill || '-'}}</div>
          </div>
          <div class="content-data">
            <div class="left">Session Timeout</div>
            <div class="right">{{chatbotInfo?.session_timeout}} Seconds</div>
          </div>
          <div class="content-data">
            <div class="left">External System</div>
            <div class="right">{{chatbotInfo?.external_system_info || '-'}}</div>
          </div>
          <div class="content-data">
            <div class="left">DA Instances</div>
          </div>
          <div class="testchat-panel-table">
            <perfect-scrollbar>
              <app-mat-table #tableComponent [rows]="rows" [headers]="header"
                             [dataSource]="dataSource" [isShowPaginator]="false"></app-mat-table>

              <ng-template let-row="row" #damsTemplate>
                <ng-container *ngFor="let dam of row.dai_exec_info">
                  <a>{{dam.dam_name}}</a>
                  <mat-icon [ngClass]="getDamIcon(dam.active)" [innerHTML]="getDamIcon(dam.active)"></mat-icon>
                </ng-container>
              </ng-template>
            </perfect-scrollbar>
          </div>
        </div>
      </mat-tab>

      <ng-container *ngIf="talks.length > 0">
        <ng-container *ngIf="spec == 'v3'">
          <mat-tab label="ChatInfo">
            <ng-container *ngIf="clickedTalk.who == 'bot'">
              <ng-container *ngIf="talks[clickedTalk.index].bot.type == 'S'">
                <div class="testchat-panel">
                  <div class="content-data">
                    <div class="left">OperationSyncId</div>
                    <div class="right">{{talks[clickedTalk.index].bot?.metadata.directive.operationSyncId}}</div>
                  </div>
                  <div class="content-data">
                    <div class="left">SessionId</div>
                    <div class="right">{{talks[clickedTalk.index].bot?.metadata.directive.payload.response?.meta['m2u.sessionid']}}</div>
                  </div>
                  <div class="content-data">
                    <div class="left">Skill</div>
                    <div class="right">{{talks[clickedTalk.index].bot?.metadata.directive.payload.response?.meta['m2u.skill']}}</div>
                  </div>

                  <pre class="chat-input-left-v3" [innerHTML]="response_json?.metadata.directive.payload | json:4"></pre>
                </div>
              </ng-container>
              <ng-container *ngIf="talks[clickedTalk.index].bot.type == 'E'">
                <div class="testchat-panel">
                  <div class="content-data">
                    <div class="left">OperationSyncId</div>
                    <div class="right">{{talks[clickedTalk.index].bot?.metadata?.operationSyncId}}</div>
                  </div>
                  <div class="content-data">
                    <div class="left">ExceptionId</div>
                    <div class="right">{{talks[clickedTalk.index].bot?.metadata?.exceptionId}}</div>
                  </div>
                  <div class="content-data">
                    <div class="left">StatusCode</div>
                    <div class="right">{{talks[clickedTalk.index].bot?.metadata?.statusCode}}</div>
                  </div>
                  <div class="content-data">
                    <div class="left">Exception Message</div>
                    <div class="right">{{talks[clickedTalk.index].bot?.metadata?.exMessage}}</div>
                  </div>
                  <div class="content-data">
                    <div class="left">Exception Index</div>
                    <div class="right">{{talks[clickedTalk.index].bot?.metadata?.exIndex}}</div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="clickedTalk.who == 'user'">
              <div class="testchat-panel">
                <div class="content-data">
                  <div class="left">authToken</div>
                  <div class="right">{{talks[clickedTalk.index].user?.metadata?.authToken || '-'}}</div>
                </div>
                <div class="content-data">
                  <div class="left">utter</div>
                  <div class="right">{{talks[clickedTalk.index].user?.metadata?.payload?.utter || '-'}}</div>
                </div>
                <div class="content-data">
                  <div class="left">Lang</div>
                  <div class="right">{{talks[clickedTalk.index].user?.metadata?.payload?.lang || '-'}}</div>
                </div>
                <div class="content-data">
                  <div class="left">DeviceId</div>
                  <div class="right">{{talks[clickedTalk.index].user?.metadata?.device?.id || '-'}}</div>
                </div>
              </div>
            </ng-container>
          </mat-tab>
        </ng-container>
        <mat-tab label="Metadata">
          <div class="metadata-tab">
          <pre class="chat-input-left-v3" [innerHTML]="response_json?.metadata | json:4"></pre>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
</ng-container>
