<app-tools #tools [showMoreVert]="false">
  <div app-tools-right>
    <button mat-button color="primary" class="mat-button" (click)="togglePanel()">
      {{panelToggleText}}
    </button>
  </div>
</app-tools>

<mat-sidenav-container>
  <div class="main-container">
    <mat-list class="chatbot-list">
      <ng-container *ngFor="let chatbot of chatbots; let i = index;">
        <mat-list-item id="chatbot_{{i}}" (click)="fillInfo(chatbot,i)" #test>
          {{chatbot.title}}
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    <app-test-chat #chatMain [chatbot]="selectedChatbot" (changeSpec)="changePanelWidth($event)"
                   (changeTalk)="setTalks($event)"></app-test-chat>
  </div>

  <mat-sidenav #sidenav class="test-chat-sidepanel" id="sidenav" align="end" mode="side"
               opened="true">
    <app-test-chat-panel #infoPanel [chatbot]="selectedChatbot" [spec]="spec"
                         [talks]="talks"></app-test-chat-panel>
  </mat-sidenav>
</mat-sidenav-container>

