<div class="test-chat-main" id="test-chat-main">
  <div class="test-chat-contents" id="test-chat-contents">
    <ng-container *ngIf="isWaitingToChat;else on_chatting">

      <!-- Login Window before Chatting -->
      <div class="auth-content">
        <mat-list>
          <mat-radio-group class="radio-group" [(ngModel)]="selectedSpecOption"
                           (change)="whenSpecOptionChanged()">
            <mat-radio-button value="v1">V1&nbsp;</mat-radio-button>
            <mat-radio-button value="v3">V3&nbsp;</mat-radio-button>
          </mat-radio-group>
        </mat-list>
        <mat-list>
          <mat-radio-group class="radio-group" [(ngModel)]="selectedOption"
                           [disabled]="selectOptionDisabled">
            <mat-radio-button value="NotAuth">NotAuth&nbsp;</mat-radio-button>
            <mat-radio-button value="Id/Pwd">Id/Pwd&nbsp;</mat-radio-button>
            <mat-radio-button value="Token">Token</mat-radio-button>
          </mat-radio-group>
          <ng-container *ngIf="selectedOption === 'NotAuth'">
            <mat-list-item>
              <button mat-raised-button color="primary" (click)="chatStart()">Start</button>
            </mat-list-item>
          </ng-container>
          <ng-container *ngIf="selectedOption === 'Id/Pwd'">
            <mat-list-item class="input-list-item">
              <mat-form-field>
                <input matInput required [errorStateMatcher]="formErrorStateMatcher"
                       id="id" name="id" [(ngModel)]="id" [placeholder]="'Id'"
                       [formControl]="idFormControl" (keydown)="checkEnterKeyDown($event, 'login')">
                <mat-error *ngIf="idFormControl.hasError('required')">
                  Id is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item class="input-list-item">
              <mat-form-field>
                <input type="password" matInput required [errorStateMatcher]="formErrorStateMatcher"
                       id="pwd" name="pwd" [(ngModel)]="pwd" [placeholder]="'Pwd'"
                       [formControl]="pwdFormControl" (keydown)="checkEnterKeyDown($event, 'login')">
                <mat-error *ngIf="pwdFormControl.hasError('required')">
                  Pwd is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <button mat-raised-button color="primary" (keydown)="checkEnterKeyDown($event, 'login')" (click)="chatStart()">Start</button>
          </ng-container>
          <ng-container *ngIf="selectedOption === 'Token'">
            <mat-list-item class="input-list-item">
              <mat-form-field>
                <input matInput required [errorStateMatcher]="formErrorStateMatcher"
                       id="token" name="token" [(ngModel)]="token" [placeholder]="'Token'"
                       [formControl]="tokenFormControl">
                <mat-error *ngIf="tokenFormControl.hasError('required')">
                  Token is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <button  mat-raised-button color="primary" (keydown)="checkEnterKeyDown($event, 'login')" (click)="chatStart()">Start</button>
          </ng-container>
        </mat-list>
      </div>
    </ng-container>

    <!-- Chatting Window -->
    <ng-template #on_chatting>
      <perfect-scrollbar #perfectScrollbar id="contents_scrollbar">
        <ng-container *ngFor="let talk of talks;  let index = index;">
          <div id="test-chat-contents{{index}}">
          <ng-container *ngIf="talk.restartSessionInfo">
            <mat-list>
              <mat-list-item><span class="session-restart-info">close Session ID : {{talk.restartSessionInfo.prevSessionId}}</span></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="session-restart-info">open Session ID : {{talk.restartSessionInfo.newSessionId}}</span></mat-list-item>
            </mat-list>
          </ng-container>
          <ng-container *ngIf="!talk.restartSessionInfo">
            <div class="test-chat-contents-right-area" *ngIf="index>startIndex && talk.user">
              <div class="test-chat-contents-right">
                <mat-list>
                  <mat-list-item (click)="clickTalk(index, 'user')">
                    <div class="test-chat-right-time"><div class="resend-button-div" (click)="replyUtter(talk.user.utter)">  <mat-icon mat-list-icon class="resend-icon">replay</mat-icon></div><div class="user-talk-time">{{talk.user.time}}</div></div>
                    <div class="test-chat-contents-right-text" [ngClass]="talk.user.clicked">
                      <div class="chat-input-right">{{talk.user.utter}}</div>
                    </div>
                    <!--<img class="test-chat-person-icon" src="../../../../assets/img/user.png">-->
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="test-chat-contents-left-area" *ngIf="talk.bot.utter">
              <div class="test-chat-contents-left" id="test-chat-contents-left">
                <mat-list>
                  <mat-list-item (click)="clickTalk(index, 'bot')"
                                 id="test-chat-contents-left-text{{index}}" class="bot-talks">
                    <img class="test-chat-chatbot-icon" src="../../../../assets/img/new_robot.png">
                    <div class="test-chat-contents-left-text" [ngClass]="talk.bot.clicked">
                      <div class="chat-input-left" id="bot{{index}}" [innerHTML]="talk.bot.utter"></div>
                      <div *ngIf="talk.cardList">
                        <div class="chat-input-left" id="bot{{index}}"
                             *ngFor="let card of talk.cardList">
                          <div *ngIf="card.hasOwnProperty('select') && card.select.type !== 'Carousel'" style="width: 100%">
                            <mat-card class="directives-card">
                              <mat-card-header class="directives-card-header">
                                <mat-card-title>{{card.select.title}}</mat-card-title>
                                <mat-card-subtitle>{{card.select.header}}</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content  class="directives-card-content">
                                <mat-form-field  class="directives-card-field">
                                  <!--타입이 dropbox 아닐 경우-->
                                  <div *ngIf="card.select.type!=='dropbox'">
                                    <mat-chip-list *ngIf="card.select.horizontal" >
                                      <div *ngFor="let item of card.select.items">
                                        <mat-chip *ngIf="item.style!==''"
                                          selected
                                          [style.background-color]="item.style"
                                          (click)="replyUtter(item.selectedUtter,true)">
                                          {{item.title}}
                                        </mat-chip>
                                        <mat-chip
                                          *ngIf="item.style===''"
                                          selected
                                          color="#3f5374"
                                          (click)="replyUtter(item.selectedUtter,true)">
                                          {{item.title}}
                                        </mat-chip>
                                      </div>
                                    </mat-chip-list>
                                  </div>
                                  <!--타입이 dropbox 일 경우-->
                                  <div *ngIf="card.select.type==='dropbox'">
                                    <mat-form-field>
                                      <mat-select class="directives-select">
                                        <mat-option *ngFor="let item of card.select.items"
                                                    (click)="replyUtter(item.selectedUtter,true)">
                                          {{item.title}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </mat-form-field>
                              </mat-card-content>
                            </mat-card>
                          </div>
                          <div style="width:430px" *ngIf="card.hasOwnProperty('select') && card.select.type === 'Carousel'">
                            <mat-card
                              class="directives-list-card">
                              <button mat-icon-button style="margin-right: 5px; margin-left: 5px"
                                      color="#2f4164"
                                      (click)="moveLeft()"
                                      class="card-list-button">
                                <mat-icon
                                  aria-label="Example icon-button with a chevron_left icon">
                                  chevron_left
                                </mat-icon>
                              </button>
                              <drag-scroll class="drag-scroll-card"
                                           drag-scroll-y-disabled="true"
                                           scrollbar-hidden="true"
                                           #nav>
                                <div class="carousel-border" style="cursor: pointer" *ngFor="let image of card.select.items">
                                  <img drag-scroll-item
                                       [src]="image.imageUrl"
                                       class="card-img"
                                       (click)="replyUtter(image.title,true)"/>
                                  <mat-card
                                    class="card-elem"
                                    (click)="replyUtter(image.title,true)">
                                    <mat-card-header
                                      class="card-elem-header">
                                      <mat-card-title>
                                        {{image.title}}
                                      </mat-card-title>
                                      <mat-card-subtitle>
                                        {{image.summary}}
                                      </mat-card-subtitle>
                                    </mat-card-header>
                                  </mat-card>
                                  <!--<img drag-scroll-item src="../../../../assets/img/users.png" class="card-img"/>-->
                                </div>
                              </drag-scroll>
                              <button mat-icon-button style="margin-right: 5px; margin-left: 5px"
                                      color="#2f4164"
                                      (click)="moveRight()"
                                      class="card-list-button">
                                <mat-icon
                                  aria-label="Example icon-button with a chevron_right icon">
                                  chevron_right
                                </mat-icon>
                              </button>
                            </mat-card>
                          </div>
                          <div *ngIf="card.hasOwnProperty('linkList')">
                            <mat-card class="directives-list-card">
                              <button mat-icon-button color="#2f4164" (click)="moveLeft()" class="card-list-button">
                                <mat-icon aria-label="Example icon-button with a chevron_left icon">
                                  chevron_left
                                </mat-icon>
                              </button>
                              <drag-scroll drag-scroll-y-disabled="true" scrollbar-hidden="true" #nav>
                                <div *ngFor="let image of card.linkList.cards">
                                  <mat-card class="card-elem" (click)="goListPage(image.imageHref)">
                                    <mat-card-header class="card-elem-header">
                                      <mat-card-title>{{image.title}}</mat-card-title>
                                      <mat-card-subtitle>{{image.summary}}</mat-card-subtitle>
                                    </mat-card-header>
                                  </mat-card>

                                  <img drag-scroll-item [src]="image.imageUrl" class="card-img" (click)="goListPage(image.imageHref)"/>
                                  <!--<img drag-scroll-item src="../../../../assets/img/user.png" class="card-img"/>-->
                                </div>
                              </drag-scroll>
                              <button  mat-icon-button color="#2f4164" (click)="moveRight()" class="card-list-button">
                                <mat-icon
                                  aria-label="Example icon-button with a chevron_right icon">
                                  chevron_right
                                </mat-icon>
                              </button>
                            </mat-card>
                          </div>
                          <div *ngIf="card.hasOwnProperty('link')"
                               (click)="goListPage(card.link.imageHref)">
                            <mat-card class="directives-card">
                              <mat-card-header class="directives-card-header">
                                <mat-card-title>{{card.link.title}}{{card.link.title}}</mat-card-title>
                                <mat-card-subtitle>{{card.link.summary}}{{card.link.title}}</mat-card-subtitle>
                              </mat-card-header>
                              <img *ngIf="card.link.imageUrl" class="card-img"
                                   [src]="card.link.imageUrl"
                                   (click)="goListPage(card.link.imageHref)"/>
                            </mat-card>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="test-chat-left-time">{{talk.bot.time}}</div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </ng-container>
          </div>
        </ng-container>
      </perfect-scrollbar>
    </ng-template>
  </div>
  <div class="test-chat-input-area" [hidden]="isWaitingToChat">
    <div class="test-chat-input-area-div-1">
      <button class="left" mat-button color="basic" (click)="restartSession()">
          <mat-icon mat-list-icon class="resend-icon">replay</mat-icon>Session Restart</button>
    </div>
    <div class="test-chat-input-area-div-2">
      <div class="left"><input id="chatInput" class="test-chat-input" (keydown)="checkEnterKeyDown($event, 'chat')"
                               [placeholder]="isWaitingToChat?'Select a Chatbot & Click the Start button.':'Type Something'"></div>
      <div class="center"><button id="voiceInput" mat-flat-button (click)="sts.isRecording?stopRecording():startRecording()">
          <mat-icon class="mic-icon">{{sts.isMicOn?"mic":"mic_none"}}</mat-icon></button></div>
      <div class="right"><button mat-flat-button (click)="inputChat()">send</button></div>
    </div>
  </div>
</div>

