.test-chat-main {
  width: 600px;
  height: 670px;
  float: left;
  border: 1px solid #cccccc;
  .test-chat-contents {
    height: 588px;
    background-color: #f9faff;
    .auth-content {
      position: absolute;
      padding-top: 229px;
      padding-left: 175px;
      //top: 36%;
      //left: 41%;
      //transform: translate(-50%, -50%);
      #id {
        width: 240px;
      }
      #pwd {
        width: 240px;
      }
      #token {
        width: 240px;
      }
      .radio-group {
        font-size: 13px;
        color: #b9b9b9;
        margin-left: 20px;
      }
      .input-list-item {
        margin-top: 20px
      }
      ::ng-deep .mat-raised-button.mat-primary {
        background-color: #00c8dd !important;
      }
      ::ng-deep .mat-form-field-ripple {
        background-color: #00c8dd !important;
      }
    }
    .mat-raised-button.mat-primary {
      height: 32px;
      width: 60%;
      font-size: 18px;
      border-radius: 8px;
      margin-left: 47px;
      margin-top: 20px;
    }
    .session-restart-info {
      margin-left:auto;
      margin-right:auto;
      font-size: 12px;
      color: #777777;
    }
    .test-chat-contents-right-area {
      margin-top:10px;
      .test-chat-contents-right {
        width: 100%;
        min-height: 55px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 9;
        -ms-flex: 9;
        flex: 9;
        margin-right: 8px;
        .test-chat-contents-right-text {
          margin-top: 3px;
          min-width: 20px;
          min-height: 20px;
          max-width: 350px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          background-color:#647493;
          border-radius: 5px;
          border:2px solid #5a6b8c;
          .chat-input-right {
            text-align: left;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            margin: 10px 10px 10px 10px;
            min-width: 20px;
            min-height: 20px;
            max-width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            word-break: break-all;
            color: #fff;
            font-size: 14px;
          }
        }
        .test-chat-contents-right-text.talk-clicked {
          border:1px solid #00c8dd;
        }
        .test-chat-person-icon {
          height: 45px;
          padding-left: 14px;
        }
        .test-chat-right-time {
          margin-right: 5px;
          margin-top: auto;
          color: #777777;
          font-size: 10px;
          .resend-button-div {
            float: right;
            .resend-icon {
              font-size: 20px;
            }
          }
        }
        /deep/ .mat-list-item {
          align-items: flex-start;
          min-height: 48px;
          height: auto;
        }
      }
    }
    .test-chat-contents-left-area {
      margin-top:10px;
      .test-chat-contents-left {
        width: 100%;
        min-height: 55px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 9;
        -ms-flex: 9;
        flex: 9;
        margin-left: -5px;
        .test-chat-contents-left-text {
          margin-top: 4.5px;
          margin-left: 16px;
          min-width: 20px;
          min-height: 20px;
          max-width: 450px;
          border: 2px solid #d3d7de;
          border-radius: 5px;
          background-color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          .chat-input-left {
            text-align: left;
            margin: 10px 10px 0 10px;
            min-width: 20px;
            min-height: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            //display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            word-break: break-all;
            white-space: normal;
            color: #484848;
            font-size: 14px;
            .directives-list-card {
              padding: 3px;
              text-align: center;
              min-width: 20px;
              min-height: 20px;
              max-width: 430px;
              max-height: 100%;
              display: flex;
              display: -webkit-box;
              display: -ms-flexbox;
              background-color: white;
              align-items: center;

              .mat-icon-button {
                margin-left: 5px;
                margin-right: 5px;
              }

              .card-list-button {
                min-width: 20px;
                min-height: 20px;
                max-width: 40px;
                max-height: 40px;
              }
              drag-scroll {
                min-width: 20px;
                min-height: 20px;
                max-width: 300px;
                height: 255px;
                white-space: normal;
                display: flex;
                display: -webkit-box;
                display: -ms-flexbox;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                .card-elem {
                  padding: 1px;
                  max-width: 250px;
                  display: block;
                  //display: flex;
                  background-color: white;
                  //white-space: nowrap;
                  box-shadow: 0 0px 0px 0px;
                  height: 115px;

                  .card-elem-header {
                    max-width: 250px;
                    display: block;
                    white-space: nowrap;
                    display: block;
                    white-space: nowrap;
                    mat-card-subtitle, mat-card-title {
                      overflow: hidden;
                      //white-space: nowrap; //initial;
                      //text-overflow: ellipsis;
                      //font-weight: bold;
                      white-space: pre-line;
                      align-text: center;
                      max-width: 100px;
                      max-height: 100px;
                      margin-bottom: 0px;
                    }

                    .mat-card-title {
                      font-size: 15px;
                      font-weight: 500;
                    }

                    .mat-card-subtitle {
                      text-align: left;
                      font-size: 12px;
                      color: rgba(0, 0, 0, 0.9);
                    }

                  }
                }
                .card-img {
                  //padding-left: 10px;
                  //padding-right: 10px;
                  //min-width: 10px;
                  //min-height: 10px;
                  width: 120px;
                  height: 100px;
                  //object-fit: fill;
                  align-items: center;
                  border-radius: 10px;
                  //background-color: white;
                }
              }
            }
            .directives-card {
              //padding: 5px;
              text-align: center;
              min-width: 20px;
              min-height: 20px;
              max-width: 330px;
              max-height: 100%;
              //display: block;
              display: inline;
              background-color: white;
              align-items: center;
              white-space: normal;
              padding: 0px;

              ::ng-deep .mat-form-field {
                text-align: center;
              }
              ::ng-deep .mat-form-field-infix {
                display: inline-block;
              }
              .directives-select {
                border: 1px solid #3f5374;
                border-radius: 3px;
                font-weight: bold;
                text-align: center;
                width: 90%;
              }
              .directives-card-field {
                padding: 1px;
                align-items: center;
                background-color: white;
                min-width: 20px;
                min-height: 20px;
                width: 300px;
                max-height: 100%;
                .mat-chip-list {
                  max-width: 300px;
                  width: 100%;
                }
                mat-chip {
                  padding: 7px 10px;
                  margin: 2px;
                  max-width: 280px;
                  font-weight: bold;
                  background-color: #3f5374;
                  color: white;
                  cursor: pointer;
                }
                .mat-chip-list-stacked {
                  padding-left: 5px;
                  padding-right: 5px;
                  max-width: 80%;
                  align-text: center;
                }
              }

              mat-card-actions {
                display: flex;
              }
              mat-card-header {
                max-width: 320px;
                display: block;
                white-space: nowrap;
                mat-card-subtitle, mat-card-title {
                  overflow: hidden;
                  white-space: nowrap; //initial;
                  text-overflow: ellipsis;
                  //font-weight: bold;
                  align-text: center;
                }

                .mat-card-header .mat-card-title {
                  font-size: 15px;
                }

                mat-card-title {
                  color: #2f4164;
                  font-size: 15px;
                }
              }
              mat-card-content {
                max-width: 320px;
                display: block;
                white-space: nowrap;
                font-weight: bold;
                align-text: center;
                width: 100%;
              }
              ::ng-deep .mat-form-field-infix {
                width: 310px;
              }
              ::ng-deep .mat-form-field-underline {
                display: none;
              }

              .mat-form-field-underline {
                width: 0%;
              }

            }
          }
        }
        .test-chat-contents-left-text.talk-clicked {
          border: 1px solid #00c8dd;;
        }
        .test-chat-chatbot-icon {
          height: 45px;
          padding-left: 5px;
        }
        .test-chat-left-time {
          margin-left: 5px;
          margin-top: auto;
          color: #777777;
          font-size: 10px;
        }
        /deep/ .mat-list-item {
          align-items: flex-start;
          min-height: 48px;
          height: auto;
        }
      }
    }
  }

  .test-chat-input-area {
    height: 82px;
    text-align: center;
    vertical-align: bottom !important;
    //background-color: #FAFAFA;
    .test-chat-input-area-div-1 {
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 0px 0px 0;
      min-height: 40px;
      margin: 0px 0px;
      height: 20px;
      position: relative;
      .left {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        margin-left: 10px;
        float: left;
        font-size: 15px;
        .resend-icon {
          padding: 0 0 0 0;
          margin: 0 0 0 0;
          font-size: 15px;
        }
      }
    }
    .test-chat-input-area-div-1::after {
      content: '';
      display: block;
      clear: both;
    }
    .test-chat-input-area-div-2 {
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      height: 40px;
      padding: 0 0px;
      margin: 0px 0px;
      position: relative;
      border-top:1px solid #cccccc;
      .left {
        color: rgba(0, 0, 0, .54);
        float: left;
        width: 80%;
        height: 40px;
        .test-chat-input {
          width: 99%;
          height: 40px;
          float: left;
          margin-top: auto;
          margin-bottom: 0px;
          padding: 0 0 0 0;
          padding-left: 5px;
          border: 0px;
          font-size: 18px;
        }
      }
      .center {
        float: left;
        width: 7%;
        height: 40px;
        button {
          margin: 0 0 0 0;
          padding: 3px 7px 0 0;
          min-width: unset;
          width: 42px !important;
          height: 40px !important;
          background-color: white !important;
          .mic-icon {
            color: crimson;
            font-size: 32px;
          }
        }
        button[disabled] {
          background-color: lightgrey !important;
          .mic-icon {
            color: darkgray;
          }
        }
      }
      .right {
        float: left;
        width: 10%;
        height: 40px;
        word-break: break-all;
        border-color: darkblue;
        button {
          margin: 0 0 0 0;
          padding: 0 0 0 0;
          min-width: unset;
          width: 77px;
          height: 40px !important;
          background-color: #00c8dd !important;
        }
      }
    }
    .test-chat-input-area-div-2::after {
      content: '';
      display: block;
      clear: both;
    }

  }
  .debug-checkbox {
    margin-left: 25px;
  }
  .da-spec-v1-checkbox {
    margin-left: 10px;
  }
}

.start-btn {
  height: 32px;
  width: 60%;
  font-size: 18px;
  border-radius: 8px;
  margin-left: 47px;
  margin-top: 20px;
  background-color: #00c8dd !important;
  color: white;
}


.carousel-border {
  margin-right: 6px;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 255, 0.25);
  border-radius: 10px;
}

.carousel-border:hover {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 255, 1);
  border-radius: 10px;
}

.drag-scroll-card {
  width: 300px;
}
