::ng-deep .mat-sidenav-container {
  overflow-x: hidden !important;
}

.mat-drawer-content {
  ::ng-deep .ng-star-inserted {
    margin-right: 0px;
  }
}
.testchat-panel {
  margin-top: 20px;
  .content-data {
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 40px;
    padding: 0 16px;
    margin: 5px 0px;
    position: relative;
    .left {
      color: rgba(0, 0, 0, .54);
      float: left;
      width: 166px;
    }
    .right {
      float: left;
      margin-left: 30px;
      max-width: 310px;
      word-break: break-all;
    }
  }
  .content-data::after {
    content: '';
    display: block;
    clear: both;
  }
  .testchat-panel-table {
    height: 440px;
    margin-left: 22px;
    margin-right: 22px;
  }
}

.test-chat-metadata {
  height: 600px;
  .test-chat-metadata-right {
    margin-top: 10px;
    width: 100%;
    min-height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    margin-right: 8px;
    .test-chat-metadata-right-text {
      min-width: 20px;
      min-height: 40px;
      max-width: 350px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #2979ff;
      border-radius: 5px;
      .chat-input-right-v1 {
        text-align: left;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin: 4px 10px 4px 10px;
        min-width: 20px;
        min-height: 40px;
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        word-break: break-all;
        color: #fff;
        font-size: 14px;
      }
    }
    .test-chat-metadata-right-text.talk-clicked {
      border: 1.5px solid #fe2ef7;
    }
    /deep/ .mat-list-item {
      min-height: 48px;
      height: auto;
    }
  }
  .test-chat-metadata-left {
    margin-top: 10px;
    width: 100%;
    min-height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    margin-left: -5px;
    .test-chat-metadata-left-text {
      margin-left: 16px;
      min-width: 20px;
      min-height: 40px;
      max-width: 350px;
      border-radius: 5px;
      background-color: #daf7a6;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      .chat-input-left-v1 {
        text-align: left;
        margin: 4px 10px 4px 10px;
        min-width: 20px;
        min-height: 40px;
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        word-break: break-all;
        white-space: pre-line;
        color: #484848;
        font-size: 12px;
      }
      .chat-input-left-v3 {
        margin: 4px 10px 4px 10px;
        min-width: 20px;
        height: 1000px;
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        //color: #484848;
        background-color: #f9faff;
        font-size: 12px;
        overflow-x: auto;
        overflow-y: auto;
      }
    }
    .test-chat-metadata-left-text.talk-clicked {
      border: 1.5px solid #fe2ef7;
    }
    /deep/ .mat-list-item {
      min-height: 48px;
      height: auto;
    }
  }
}
.metadata-tab {
  height:  calc(100vh - 124px);
  overflow: hidden;
  .chat-input-left-v3 {
    margin: 4px 10px 4px 10px;
    min-width: 0px;
    height: 94%;
    max-width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    color: #484848;
    background-color: #f9faff;
    font-size: 12px;
    white-space: pre;
    //overflow-x: auto;
    //overflow-y: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    //width: 98%;
    //height: 94%;
  }

}
.chat-input-left-v3 {
  margin: 4px 10px 4px 10px;
  min-width: 0px;
  //min-height: 40px;
  height: 635px;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  color: #484848;
  background-color: #f9faff;
  font-size: 12px;
  //overflow-x: auto;
  overflow-x: scroll;
  overflow-y: scroll;
}
