<div fxLayout="column">
  <app-tools [name]="'Engine Result'" [showMoreVert]=false></app-tools>

  <div fxLayout="column">
    <div class="filter-box"  fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <mat-form-field class="search-input">
          <mat-select placeholder="Engine"
                      id="name"
                      required
                      [(ngModel)]="currentEngine"
                      (change)="check($event)">
            <mat-option *ngFor="let key of engineList" [value]="key">
              {{key.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="search-input">
          <mat-select placeholder="Bookmark"
                      required
                      id="bookmark"
                      [disabled]=" !currentEngine.hasOwnProperty('name')"
                      [(ngModel)]="selectedBookmark"
                      (change)="check($event)">
            <mat-option *ngFor="let key of currentEngine.bookmarkList" [value]="key">
              {{key}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="search-input">
          <input matInput
                 [matDatepicker]="startPicker"
                 placeholder="Start Date"
                 [max]="requestParam.endAt.value"
                 [(formControl)]="requestParam.startAt"
                 (dateChange)="changeDateEvent()">
          <mat-datepicker-toggle
            matSuffix [for]="startPicker">
          </mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="search-input">
          <input matInput
                 [matDatepicker]="endPicker"
                 placeholder="End Date"
                 [min]="requestParam.startAt.value"
                 [formControl]="requestParam.endAt"
                 (dateChange)="changeDateEvent()">
          <mat-datepicker-toggle
            matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="search-input" [hidden]="activePeriod">
          <mat-select placeholder="Period"
                      [(ngModel)]="requestParam.periodType"
                      (change)="check($event)" id="periodType">
            <mat-option *ngFor="let key of appEnum.periodTypeKeys" [value]="key">
              {{appEnum.periodType[key]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--<div fxFlex="80"></div>-->
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button class="filter-button" color="primary"
                [disabled]="activeAnalysis || !requestParam.engine || !requestParam.bookmark"
                (click)="onAnalysis()">
          <mat-icon>trending_up</mat-icon>
          <span>Analyse</span>
        </button>
      </div>
    </div>
    <div class="content" fxFlex="90">
      <mat-tab-group (selectedTabChange)="onTabClick($event)">
        <mat-tab label="Pie Chart">
          <ng-container *ngIf="availableData === true">
            <div class="basic" fxFlexFill fxLayout="column">
              <div class="pie-middle">
                <div class="pie-middle-left" fxFlex="50"
                     style="display: block">
                  <canvas class="pie" baseChart
                          style="width:100%; height: 100%;"
                          [data]="pieChartData"
                          [labels]="pieChartLabels"
                          [chartType]="pieChartConfig.chartType"
                          [options]="pieChartConfig.options"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
                <div class="pie-middle-right" fxFlex="30">
                  <ng-container *ngFor="let key of pieChartLabels; let i = index">
                    <div fxLayout="row">
                      <h4>{{key}} {{pieChartData[i]}} / {{totalResult}} </h4>
                      <h3 style="margin-left: 30px"> {{getTotal(pieChartData[i])}}%</h3>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="availableData === false">
            <div class="mat-tab-group-data-text">
              No data available for that period.
            </div>
          </ng-container>
        </mat-tab>
        <mat-tab label="Time Series">
          <ng-container *ngIf="availableData === true">
            <div style="display: block; width: 80%">
              <canvas class="line" baseChart
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </ng-container>

          <ng-container *ngIf="availableData === false">
            <div class="mat-tab-group-data-text">
              No data available for that period.
            </div>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
